{% extends 'main/base.html' %}

{% block title %}
Хроматограф
{% endblock %}


{% block content %}
    Список документов и принадлежностей
    <br>2019	Ведомость эксплуатационных документов		от поставщика
 <br>2019	Микрошприцы для газовой хроматографии серии SGE-CHROMATEC. Методика поверки 214.2.835.002И		от поставщика
 <br>2019	Комплекс аппаратно-программный для медицинских исследований на базе хроматографа "Хроматэк-Кристалл 5000". Руководство по эксплуатации 214.2.840.043РЭ		от поставщика
 <br>2019	Микрошприцы для газовой хроматографии серии SGE-CHROMATEC. Руководство по эксплуатации 214.2.835.001РЭ		от поставщика
 <br>2019	Генератор водорода. Паспорт 214.4.464.014ПС		от поставщика
 <br>2019	Компрессор. Паспорт 214.2.933.002ПС		от поставщика
 <br>2019	Пробоотборники ПУ, ПГО. Руководство по эксплуатации 214.4.056.000РЭ		от поставщика
 <br>2019	Регулятор давления баллонный. Руководство по эксплуатации 214.5.882.003РЭ		от поставщика
 <br>2019	Модуль переключения микропотоков Дина. Руководство по эксплуатации 214.5.081.067РЭ		от поставщика
 <br>2019	Комплекс аппаратно-программный для медицинских исследований на базе хроматографа "Хроматэк-Кристалл 5000". Ведомость эксплуатационных документов 214.2.840.043ВЭ		от поставщика
 <br>2019	Пневмосопротивление регулируемое. Паспорт 214.5.150.019ПС		от поставщика
 <br>2019	Тройник. Паспорт 214.6.453.108ПС		от поставщика
 <br>2019	Блок фильтров 214.5.884.012ПС		от поставщика
 <br>2019	Фильтр 20.0. Паспорт 214.5.884.092ПС		от поставщика
 <br>2019	Пробоотбоник ПГО-50АЛ. Паспорт 214.4.056.008ПС		от поставщика
 <br>2019	Комплект арматуры газовой. Паспорт 214.4.078.000ПС		от поставщика
{% endblock %}
