{% extends 'main/base.html' %}
{% load crispy_forms_tags %}

{% block title %}
Документы и принадлежности
{% endblock %}


{% block content %}
<div style="text-align: center;">

 {% if title.kategory == 'СИ' %}
    <div style="text-align: center;"><h4>Документы и принадлежности: <a href="/equipment/measureequipment/{{ title.exnumber }}/">
    {{ title.exnumber }}, {{title.measurequipment_set.all.last.charakters}}, зав. № {{title.lot}}  </a> </h4></div>
    <br><br>
    {% elif title.kategory == 'ИО' %}
    <div style="text-align: center;"><h4>Документы и принадлежности: <a href="/equipment/testequipment/{{ title.exnumber }}/">
    {{ title.exnumber }}, {{title.testingequipment_set.all.last.charakters}}, зав. № {{title.lot}}  </a> </h4></div>
    <br><br>
    {% elif title.kategory == 'ВО' %}
    <div style="text-align: center;"><h4>Документы и принадлежности: <a href="/equipment/measureequipment/{{ title.exnumber }}/">
    {{ title.exnumber }}, {{title.measurequipment_set.all.last.charakters}}, зав. № {{title.lot}}  </a> </h4></div>
    <br><br>
    {% endif %}
{#таблица #}
<br>
<table class="table table-bordered">
<thead>
<tr>
<th>Название</th>
<th> Происхождение </th>
<th> Дата появления</th>
<th>Примечание</th>
</tr>
</thead>
<tbody>
{% for obj in objects %}
<tr>
<td> {{ obj.docs }}</td>
<td > {{ obj.source }}</td>
<td > {{ obj.date}}</td>
<td > {{ obj.note|default:" " }}</td>
</tr>
{% endfor %}
</tbody>
</table>
{# конец таблицы #}
{% if  title.exnumber == 'Х001' %}
<a href="{% url 'chromato' %}"  class="btn btn-warning mt-2">смотреть больше</a>
{% endif %}
{#форма для внесения документа#}
  <br><br>
<div style="text-align: center;">
<h5>Добавить</h5></div>
<form method="post" enctype="multipart/form-data" class="form-register">
{% csrf_token %}
{{ form.as_p }}
<button class="btn btn-outline-warning" type="submit">Записать</button>
</form>
{#конец формы#}
<br>
{% endblock %}
