{% extends 'main/superbase.html' %}
{% load static %}
{% block title %}
{{ obj.charakters.name}}
{% endblock %}


{% block content %}
<div class="row">
<div class="col-md-24 mt-2" >
<div style="text-align: center;"><h4>{{ obj.charakters.name}}</h4></div>
    <div style="text-align: center;">
<h6> {{ obj.charakters.modtype.typename|default:" " }}
{{ obj.charakters.modtype.modificname|default:" " }}.
Заводской номер: <b>{{ obj.equipment.lot }}</b></h6>
</div>
    <br>



<div style="text-align: center;">
<table class="table table-bordered">
    <thead>
        <tr>
            <th>Внут.№</th>
            <th> Номер в реестре </th>
            <th> Название </th>
            <th> Тип/модификация</th>
            <th> Заводской № </th>
            <th> Год вып. </th>
            <th> Производитель </th>
            <th> Год ввода в эксплуатацию в ООО "Петроаналитика" </th>
            <th> Новый или&nbsp&nbsp б/у</th>
            <th> Инвентарный номер  </th>
         </tr>
    </thead>
    <tbody>
    <tr>
        <td>{{ obj.equipment.exnumber }}</td>
         <td> {{ obj.charakters.reestr }}</td>
         <td> {{ obj.charakters.name }}</td>
        <td>{{ obj.charakters.modtype.typename|default:" " }}/
             {{ obj.charakters.modtype.modificname|default:" " }} </td>
        <td> {{ obj.equipment.lot }}</td>
        <td> {{ obj.equipment.yearmanuf }}</td>
        <td> {{ obj.equipment.manufacturer.country }},
         {{ obj.equipment.manufacturer.companyName }}</td>
        <td> {{ obj.equipment.yearintoservice }}</td>
        <td> {{ obj.equipment.new }}</td>
        <td> {{ obj.equipment.invnumber|default:" " }}</td>
    </tr>
    </tbody>
</table>
</div>
</div>

<br>
<div style="text-align: center;">
<table class="table table-bordered">
    <thead>
        <tr>
            <th> Дата поверки </th>
            <th> Поверен до </th>
            <th> Месяц заказа поверки </th>
            <th> Ссылка на сведения о поверке</th>

         </tr>
    </thead>
    <tbody>
    <tr>
        <td>{{ obj.equipment.exnumber }}</td>
         <td> {{ obj.charakters.reestr }}</td>
         <td> {{ obj.charakters.name }}</td>
        <td> {{ obj.equipment.invnumber|default:" " }}</td>
    </tr>
    </tbody>
</table>
</div>
</div>


    <br>
<div style="text-align: center;">
<table class="table table-bordered">
    <thead>
        <tr>
            <th> Ответственный </th>
            <th> Расположение </th>
            <th> Распечатать карточку</th>
            <th> Распечатать этикетку на прибор </th>
            <th>Технические документы и принадлежности</th>
         </tr>
    </thead>
    <tbody>
    <tr>
        <td>{{ obj.equipment.exnumber }}</td>
         <td> {{ obj.charakters.reestr }}</td>
         <td> {{ obj.charakters.name }}</td>
        <td> {{ obj.equipment.new }}</td>
        <td> {{ obj.equipment.invnumber|default:" " }}</td>
    </tr>
    </tbody>
</table>
</div>
</div>
{% endblock %}
