{% extends 'main/base.html' %}
{% load crispy_forms_filters %}
{% load crispy_forms_tags %}

{#название страницы#}
{#стандартная#}
{% block title %}
Производители ЛО
{% endblock %}
{#конец названия страницы#}

{% block content %}

{#заголовок#}
<div class="row">
<div class="col-md-24 mt-2" >
<div style="text-align: center;"><h4> Производители ЛО</h4></div>
<br>
{#конец заголовка #}

{#основная таблица#}
{# уникальная #}
<table class="table table-bordered">
    <thead>
        <tr>
            <th>Название</th>
            <th> Страна </th>
            <th> Адрес </th>
            <th> Телефон </th>
            <th> Телефон для вопросов по обслуживанию ЛО </th>
         </tr>
    </thead>
    <tbody>
    {% for obj in objects %}
    <tr>
        <td>{{ obj.companyName }}</td>
        <td> {{ obj.country }}</td>
        <td> {{ obj.companyAdress }}</td>
        <td> {{ obj.telnumber }}</td>
        <td>{{ obj.telnumberhelp }}</td>
    </tr>
    {% endfor %}
    </tbody>
</table>
{#конец основной таблицы#}

{#пагинация#}
{# стандартная #}
{% if is_paginated %}
    {% if page_obj.has_previous %}
       <a href="?page=1" class="btn btn-outline-primary">Начало</a>
       <a href="?page={{ page_obj.previous_page_number }}" class="btn btn-outline-primary">Предыдущая</a>
  {% endif %}
    {% if page_obj.has_next %}
       <a href="?page={{ page_obj.next_page_number }}" class="btn btn-outline-primary">Следующая</a>
       <a href="?page={{ page_obj.paginator.num_pages }}" class="btn btn-outline-primary">Последняя</a>
  {% endif %}
  {% endif %}
{#конец пагинации#}
</div>

{#фильтры#}
{# уникальные, менять url #}
{# конец фильров #}


{#форма для поиска по датам записей и вывод ошибки формата даты#}

{#конец формы для поиска по датам записей#}

</div>


{% endblock %}
{#конец блока {% block content %}"""#}
