{% extends 'main/superbase.html' %}
{% load crispy_forms_filters %}
{% load crispy_forms_tags %}

{#название страницы#}
{#стандартная#}
{% block title %}
СИ
{% endblock %}
{#конец названия страницы#}

{% block content %}

{#заголовок с ссылкой#}
{#стандартная#}
<div class="row">
<div class="col-md-24 mt-2" >
<div style="text-align: center;"><h4><a href="/{{ URL }}/"> Средства измерения ООО "Петроаналитика"</a></h4></div>
<br>
{#конец заголовка со ссылкой#}
{# Выгрузка полного списка в ексель #}
<a href="{% url 'testingequipmentall' %}" class="btn btn-info mr-5 mt-3" >Перейти к испытательному оборудованию</a>
<a href="{% url 'export_me_xls' %}" class="btn btn-warning mr-5 mt-3">Выгрузить график поверки EXEL</a>
<a href="{% url 'measurequipmentcharacterslist' %}" class="btn btn-warning mr-5 mt-3">Смотреть госреестры в наличии</a>
    <br>
    <br>
    <br>
{#форма для поиска по полям #}
{#стандартная#}
    <form action="/equipment/measureequipmentallsearres/" method="GET">
        {% csrf_token %}
        {% crispy form %}
    </form>
{#конец формы для поиска по#}

{#основная таблица#}
{# уникальная #}
<table class="table table-bordered">
    <thead>
        <tr>
            <th>  См </th>
            <th>Внут.№</th>
            <th> Реестр </th>
            <th> Название </th>
            <th> Тип/мод.</th>
            <th> Зав. № </th>
            <th> Год вып. </th>
            <th> Ком.№ </th>
            <th> Ответств-й  </th>
            <th> Статус </th>
            <th> Поверен до  </th>
            <th> Поверка план  </th>
            <th> Заказана поверка или замена </th>
            <th> Карт. <br> exel  </th>
            <th> Верифик. <br> exel  </th>
         </tr>
    </thead>
    <tbody>
    {% for obj in objects %}
    <tr>
        <td><a href="/equipment/measureequipment/{{ obj.equipment.exnumber }}/"  class="btn btn-outline-warning mt-3">СМ</a></td>
        <td>{{ obj.equipment.exnumber }}</td>
         <td> {{ obj.charakters.reestr }}</td>
         <td> {{ obj.charakters.name }}</td>
         <td>{{ obj.charakters.typename|default:" " }}/
             {{ obj.charakters.modificname|default:" " }} </td>
        <td> {{ obj.equipment.lot }}</td>
        <td> {{ obj.equipment.yearmanuf }}</td>
        <td> {{ obj.equipment.roomschange_set.all.last.roomnumber.roomnumber }}</td>
        <td> {{ obj.equipment.personchange_set.all.last.person }}</td>
        <td> {{ obj.equipment.get_status_display }}</td>
        <td> {{ obj.equipmentSM_ver.all.last.datedead|date:"d.m.Y"  }}</td>
        <td> {{ obj.equipmentSM_ver.all.last.dateorder|date:"m.Y"  }}</td>
        <td>
            {% if obj.equipmentSM_ver.all.last.haveorder %}
            да
            {% else %}
        <a href="{% url 'haveorder' obj.pk %}" target="blank" class="btn btn-outline-warning mt-3">
            нет</a>
            {% endif %}
        </td>
        <td> <a href="{% url 'export_mecard_xls' obj.pk %}"  class="btn btn-outline-warning mt-3">
            exel {{ obj.equipment.exnumber }}</a></td>
        <td> <a href="{% url 'export_exvercard_xls' obj.pk %}"  class="btn btn-outline-warning mt-3">
            шаблон верификации {{ obj.equipment.exnumber }}</a></td>
        </tr>
    {% endfor %}
    </tbody>
</table>
{#конец основной таблицы#}

{#пагинация#}
{# стандартная #}
{% if is_paginated %}
    {% if page_obj.has_previous %}
       <a href="?page=1" class="btn btn-outline-primary">Начало</a>
       <a href="?page={{ page_obj.previous_page_number }}" class="btn btn-outline-primary">Предыдущая</a>
  {% endif %}
    {% if page_obj.has_next %}
       <a href="?page={{ page_obj.next_page_number }}" class="btn btn-outline-primary">Следующая</a>
       <a href="?page={{ page_obj.paginator.num_pages }}" class="btn btn-outline-primary">Последняя</a>
  {% endif %}
  {% endif %}
{#конец пагинации#}
</div>

{#фильтры#}
{# уникальные, менять url #}
{# конец фильров #}


{#форма для поиска по датам записей и вывод ошибки формата даты#}

{#конец формы для поиска по датам записей#}

</div>


{% endblock %}
{#конец блока {% block content %}"""#}
