{% extends 'main/superbase.html' %}
{% load crispy_forms_filters %}
{% load crispy_forms_tags %}

{#название страницы#}
{#стандартная#}
{% block title %}
СИ
{% endblock %}
{#конец названия страницы#}

{% block content %}

{#заголовок с ссылкой#}
{#стандартная#}
<div class="row">
<div class="col-md-20 mt-2" >
<div style="text-align: center;"><h4><a href="/{{ URL }}/"> Средства измерения ООО "Петроаналитика"</a></h4></div>
<br>
{#конец заголовка со ссылкой#}

{#форма для поиска по полям #}
{#стандартная#}
{#    <form action="/attestationJ/{{ URL }}/searchresult/" method="GET">#}
{#        {% csrf_token %}#}
{#        {% crispy formSM %}#}
{#    </form>#}
{#конец формы для поиска по ГСО#}

{#основная таблица#}
{# уникальная #}
<table class="table table-bordered">
    <thead>
        <tr>
            <th>  Дата</th>
            <th> ГСО </th>
            <th> п. </th>
            <th>  Т, ℃ </th>
            <th> Кинематика </th>
            <th> Кинематика </th>
            <th> Кинематика </th>
            <th> Кинематика </th>
            <th> Кинематика </th>
            <th>  Подробнее </th>
            <th>  Подробнее </th>
            <th>  Подробнее </th>
            <th>  Подробнее </th>
         </tr>
    </thead>
    <tbody>
    {% for obj in objects %}
    <tr>
        <td>{{ obj.date|date:"d.m.Y" }}</td>
         <td> {{ obj.name }}</td>
         <td> {{ obj.lot }}</td>
         <td>{{ obj.temperature }} </td>
         <td>{{ obj.certifiedValue_text }} </td>
         <td><a href="/"  class="btn btn-outline-warning mt-3">см</a></td>
    </tr>
    {% endfor %}
    </tbody>
</table>
{#конец основной таблицы#}

{#пагинация#}
{# стандартная #}
{% if is_paginated %}
    {% if page_obj.has_previous %}
       <a href="?page=1" class="btn btn-outline-primary">Начало</a>
       <a href="?page={{ page_obj.previous_page_number }}" class="btn btn-outline-primary">Предыдущая</a>
  {% endif %}
    {% if page_obj.has_next %}
       <a href="?page={{ page_obj.next_page_number }}" class="btn btn-outline-primary">Следующая</a>
       <a href="?page={{ page_obj.paginator.num_pages }}" class="btn btn-outline-primary">Последняя</a>
  {% endif %}
  {% endif %}
{#конец пагинации#}
</div>

{#фильтры#}
{# уникальные, менять url #}
{# конец фильров #}


{#форма для поиска по датам записей и вывод ошибки формата даты#}

{#конец формы для поиска по датам записей#}

</div>


{% endblock %}
{#конец блока {% block content %}"""#}
