{% extends 'main/superbase.html' %}
{% load crispy_forms_filters %}
{% load crispy_forms_tags %}

{#название страницы#}
{#стандартная#}
{% block title %}
Госреестр
{% endblock %}
{#конец названия страницы#}

{% block content %}

{#заголовок#}
<div class="row">
<div class="col-md-24 mt-2" >
<div style="text-align: center;"><h4> Госреестр СИ</h4></div>
<br>
{#конец заголовка #}
{#форма для поиска по полям #}
{#стандартная#}
    <form action="/equipment/reestrsearres/" method="GET">
        {% csrf_token %}
        {% crispy form %}
    </form>
{#конец формы для поиска по#}
<a href="{% url 'measurequipmentcharactersreg' %}"  target="blank" class="btn btn-info ml-2">
Добавить Госрестр</a>
{#основная таблица#}
{# уникальная #}
<table class="table table-bordered">
    <thead>
        <tr>
            <th>Номер в Госреестре</th>
            <th>Название</th>
            <th> Модификация </th>
            <th> Тип </th>
            <th> Межпов. <br> интервал, <br>мес. </th>
            <th> Диапазон измерений </th>
            <th> Класс точности /(разряд/), погрешность и /(или/) неопределённость /(класс, разряд/) </th>
         </tr>
    </thead>
    <tbody>
    {% for obj in objects %}
    <tr>
        <td>{{ obj.reestr }}</td>
        <td>{{ obj.name }}</td>
        <td>{{ obj.modificname }}</td>
        <td>{{ obj.typename }}</td>
        <td> {{ obj.calinterval }}</td>
        <td> {{ obj.measurydiapason }}</td>
        <td>{{ obj.accuracity }}</td>
    </tr>
    {% endfor %}
    </tbody>
</table>
{#конец основной таблицы#}

{#пагинация#}
{# стандартная #}
{% if is_paginated %}
    {% if page_obj.has_previous %}
       <a href="?page=1" class="btn btn-outline-primary">Начало</a>
       <a href="?page={{ page_obj.previous_page_number }}" class="btn btn-outline-primary">Предыдущая</a>
  {% endif %}
    {% if page_obj.has_next %}
       <a href="?page={{ page_obj.next_page_number }}" class="btn btn-outline-primary">Следующая</a>
       <a href="?page={{ page_obj.paginator.num_pages }}" class="btn btn-outline-primary">Последняя</a>
  {% endif %}
  {% endif %}
{#конец пагинации#}
</div>

{#фильтры#}
{# уникальные, менять url #}
{# конец фильров #}


{#форма для поиска по датам записей и вывод ошибки формата даты#}

{#конец формы для поиска по датам записей#}

</div>


{% endblock %}
{#конец блока {% block content %}"""#}
