{% extends 'main/base.html' %}
{% load crispy_forms_tags %}
{% load static %}
{% block title %}
Метрологическое обеспечение
{% endblock %}


{% block content %}
{#mr-5 mt-3#}

<div style="text-align: center; margin-top: 20px">
<a href="{% url 'verificationlabels' %}" class="btn btn-warning" style="width: 210px">Распечать этикетки на СИ</a>
{#<a href="{% url 'meteoreg' %}" class="btn btn-warning  mt-3" style="width: 210px">Распечать этикетки на ИО</a>#}
</div>
<div style="text-align: center; margin-top: 20px">
<a href="{% url 'verificatorpersons' %}" class="btn btn-warning  mt-3" style="width: 210px" target="blank">
Контакты поверителей</a>
</div>
<br>
----------------------------------------------------------------------------------------------------------
<div style="text-align: center; margin-top: 20px">
<h5>Неповеренные к указанной дате СИ</h5>
 <form action="{% url 'notver' %}" target="blank" method="GET">
        {% csrf_token %}
        {% crispy form %}
    </form>
</div>
<br>
----------------------------------------------------------------------------------------------------------
<div style="text-align: center; margin-top: 20px">
<h5>Список СИ требующих поверки к указанной дате</h5>
 <form action="{% url 'mustver' %}" target="blank" method="GET">
        {% csrf_token %}
        {% crispy form %}
    </form>
</div>
<br>
----------------------------------------------------------------------------------------------------------
<div style="text-align: center; margin-top: 20px">
<h5>Выгрузить в EXEL список СИ для поверки и ИО для аттестации</h5>
 <form action="{% url 'export_mustver_xls' %}" target="blank" method="GET">
        {% csrf_token %}
        {% crispy form %}
    </form>
</div>

----------------------------------------------------------------------------------------------------------
<div style="text-align: center; margin-top: 20px">
<h5>Список СИ для заказа взамен СИ с истёкшей поверкой</h5>
 <form action="{% url 'mustorder' %}" target="blank" method="GET">
        {% csrf_token %}
        {% crispy form %}
    </form>
</div>

----------------------------------------------------------------------------------------------------------
<div style="text-align: center; margin-top: 20px">
<a href="{% url 'lasttenequipment' %}" class="btn btn-warning" style="width: 210px">Список последних 10 добавленных приборов</a>
</div>


<br><br>
{#<div style="text-align: center;">#}
{#<img src="{% static 'main/img/20.jpg' %}"#}
{#alt="Изображение на странице метео"></div>#}

{% endblock %}
