{% extends 'main/base.html' %}
{% load crispy_forms_tags %}
{% load static %}
{% block title %}
планы и отчёты
{% endblock %}


{% block content %}
<div style="text-align: center; margin-top: 20px">
<h4>Планы и отчёты по оборудованию</h4>

</div>

----------------------------------------------------------------------------------------------------------
<div style="text-align: center; margin-top: 20px">
<h5>Список СИ и ИО прошедших поверку в указанном году без учёта ПА/не ПА</h5>
 <form action="{% url 'export_metroyear_xls' %}" target="blank" method="GET">
        {% csrf_token %}
        {% crispy form %}
    </form>
</div>
<br>
----------------------------------------------------------------------------------------------------------
<div style="text-align: center; margin-top: 20px">
<h5>Список СИ и ИО прошедших поверку в указанном году</h5>
 <form action="{% url 'export_metroyearprice_xls' %}" target="blank" method="GET">
        {% csrf_token %}
        {% crispy form %}
    </form>
</div>
<br>
----------------------------------------------------------------------------------------------------------
<div style="text-align: center; margin-top: 20px">
<h5>Список СИ и ИО прошедших поверку в указанном году только те где указана стоимость поверки/аттестации</h5>
 <form action="{% url 'export_metroyearprice_xls' %}" target="blank" method="GET">
        {% csrf_token %}
        {% crispy form %}
    </form>
</div>
<br>
----------------------------------------------------------------------------------------------------------
    <div style="text-align: center; margin-top: 20px">
<h5>Список СИ и ИО прошедших поверку в указанном году только те где организатор работ - Петроаналитика </h5>
 <form action="{% url 'export_metroyearcust_xls' %}" target="blank" method="GET">
        {% csrf_token %}
        {% crispy form %}
    </form>
</div>
<br>
----------------------------------------------------------------------------------------------------------

{% endblock %}
