{% extends 'main/superbase.html' %}
{% load crispy_forms_tags %}

{% block title %}
Поверка СИ
{% endblock %}


{% block content %}
<div style="text-align: center;"><h4>История поверки средства измерения:
<br> <a href="/equipment/measureequipment/{{ title.exnumber }}/">
{{ title.exnumber }}, {{title.measurequipment_set.all.last.charakters}}, зав. № {{title.lot}}  </a> </h4></div>
<div style="text-align: center; margin-top: 20px; margin-bottom: 15px"><h6> Межповерочный интервал {{ calinterval }} мес. </h6></div>
<div style="text-align: center; margin-top: 20px; margin-bottom: 15px"><h6> Планируемая дата отправки отправки в поверку: {{ dateorder|date:"M.Y"|default_if_none:" " }} </h6></div>

{#таблица для вывода комментария#}

<table class="table table-bordered">
<td colspan="6"><b>Комментарий ответственного за поверку:</b> {{ comment }}</td>
</table>
{#конец таблицы для вывода комментария#}
{#таблица для вывода поверки#}
<table class="table table-bordered">
    <thead>
        <tr>
            <th>Поверка от</th>
            <th> Поверка до </th>
            <th> Ссылка ФГИС</th>
            <th> Место поверки </th>
            <th> Организация поверитель </th>
            <th> Результат </th>
            <th> Стоимость, <br> руб </th>
            <th> Документ </th>
            <th> Исполнитель поверки </th>
         </tr>
    </thead>
    <tbody>
    {% for obj in note %}
            <tr>
         <td style="background-color: rgba(168,255,18,0.37) !important"> {{ obj.date|date:"d.m.y"|default:" " }}{{ obj.year|default:" "}} </td>
         <td style="background-color: rgba(168,255,18,0.37) !important"> {{ obj.datedead|date:"d.m.y"|default:" " }}</td>
         <td class="ind" style="background-color: rgba(168,255,18,0.37) !important">
             {% if obj.arshinif|length > 14 %}
              <a href="{{ obj.arshin}}"  target="blank" >
             Аршин
                  </a>
             {% else  %}
             отсутствует
             {% endif %}
         </td>
        <td style="background-color: rgba(168,255,18,0.37) !important"> {{ obj.place }}</td>
        <td style="background-color: rgba(168,255,18,0.37) !important"> {{ obj.verificator.companyName }}</td>
        <td style="background-color: rgba(168,255,18,0.37) !important"> {{ obj.statusver|default:" " }}</td>
        <td style="background-color: rgba(168,255,18,0.37) !important">{{ obj.price|default:" "  }}</td>
        <td style="background-color: rgba(168,255,18,0.37) !important">
            {% if obj.img %}
        <a href="{{ obj.arshin}}"  target="blank" >
             {{ obj.certnumber|default:" "}}
                  </a>
            {% endif %}
        {{ obj.certnumber|default:" "}}
        </td>
            <td style="background-color: rgba(168,255,18,0.37) !important"> {{ obj.verificatorperson.name|default:" " }}
        {% if obj.verificatorperson.telnumber %}
        , телефон {{ obj.verificatorperson.telnumber|default:" " }}
        {% endif %}
        {% if obj.verificatorperson.departament %}
        , отдел {{ obj.verificatorperson.departament|default:" " }}
        {% endif %}
        {% if obj.verificatorperson.dop %}
        , примечание {{ obj.verificatorperson.dop|default:" " }}
        {% endif %}
        </td>
    </tr>
    {% endfor %}
    </tbody>
</table>
{#конец таблицы для вывода поверки#}
{#форма для комментария#}
<form method="post" enctype="multipart/form-data" class="form-register">
    <form method="post" class="form-register">
    {% csrf_token %}
    {% crispy form %}
</form>
</form>
{#конец формы для комментария#}
<br>
    <div style="text-align: center; margin-top: 5px; margin-bottom: 15px">
     <a href="/equipment/measureequipment/verificationreg/{{ strreg }}/"  class="btn btn-warning mt-2 mr-2">
 Внести запись о поверке</a>
   </div>
{% endblock %}
