{% extends 'main/superbase.html' %}
{% load crispy_forms_tags %}

{% block title %}
Поверители
{% endblock %}


{% block content %}


<div style="text-align: center; margin-top: 20px">
<a href="{% url 'verificatorsreg' %}" class="btn btn-warning mr-5 mt-3" style="width: 210px" target="blank">
Добавить организацию поверителя</a>
<a href="{% url 'verificatorspersonsreg' %}" class="btn btn-warning  mt-3" style="width: 210px" target="blank">
Добавить сотрудника поверителя</a>
</div>

<div style="text-align: center; margin-top: 35px; margin-bottom: 15px">
<h4>Контакты поверителей</h4></div>
    <table class="table table-bordered">
    <thead>
        <tr>
            <th>Организация</th>
            <th> Имя </th>
            <th> Телефон </th>
            <th> Должность</th>
            <th> № отдела</th>
            <th> Отдел</th>
            <th> Комната</th>
            <th> Емаил</th>
            <th> Примечание</th>
            <th> Ред.</th>
         </tr>
    </thead>
    <tbody>
    {% for obj2 in objects %}
<tr>
<td> {{ obj2.company.companyName }}</td>
<td> {{ obj2.name }}</td>
<td> {{ obj2.telnumber }}</td>
<td> {{ obj2.position }}</td>
<td> {{ obj2.departamentn }}</td>
<td> {{ obj2.departament }}</td>
<td> {{ obj2.departamentadress }}</td>
<td> {{ obj2.email }}</td>
<td> {{ obj2.dop }}</td>
<td> <a href="{% url 'verificatorsupdate' obj2.pk %}"  class="btn btn-outline-warning mt-3">ред</a></td>
</tr>
    {% endfor %}
    </tbody>
    </table>
{% endblock %}
