{% extends 'main/base.html' %}
{% load static %}
{% block title %}
История измерений
{% endblock %}


{% block content %}
    <div style="text-align: center;"><h4>История измерений</h4></div>
<br>

<table class="table table-bordered">
<thead>
    <tr>
        <th>Дата измерения</th>
        <th>АЗ</th>
        <th>Разница с предыдущим, %</th>
        <th>Смотреть запись</th>
    </tr>
</thead>

<tbody>
{% for obj in objects %}
<tr>
    <td>{{ obj.date }}</td>
    <td> {{ obj.certifiedValue_text }}</td>
    <td> {{ obj.deltaOldCertifiedValue }}</td>
    <td><a href="{{obj.for_url}}"  class="btn btn-outline-warning mt-3">смотреть в журнале</a></td>
</tr>
{% endfor %}
</tbody>
</table>
{% endblock %}