{% extends 'main/superbase.html' %}


{% block title %}
{{ NAME2 }}
{% endblock %}


{#кнопки слева странички#}
{% block content %}
{#<div class="row">#}
{#<div class="col-md-2">#}
{#    <a href="/attestationJ/{{ URL }}/registration/" class="btn btn-warning mt-3 mr-5">&nbsp&nbspвнести&nbsp&nbsp&nbsp ещё </a>#}
{#    <a href='/attestationJ/{{ URL }}/' class="btn btn-warning mt-3">В  журнал</a>#}
{#    <a href='/attestationJ/{{ URL }}/attestation/' class="btn btn-warning mt-3">Все записи</a>#}
{#</div>#}

{#уникальная таблица#}

<br>
<div style="text-align: center;"><h5>Плотность и динамическая вязкость ВЖ-ПА</h5></div>
<div class="col-md-4 mt-1" >
<div style="text-align: center;"><h5>{% autoescape off %}{{ TABLENAME2 }}{% endautoescape %} </h5></div>
<br>
<table class="table table-bordered">
    <thead>
        <tr>
            <td>&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbspВЖ&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp</td>
			<td>T&nbsp&nbsp°C:плотность </td>
			<td>T&nbsp&nbsp°C:плотность </td>
			<td>T&nbsp&nbsp°C:плотность </td>
			<td>T&nbsp&nbsp°C:плотность </td>
			<td>T&nbsp&nbsp°C:плотность </td>
			<td>T&nbsp&nbsp°C:плотность </td>
         </tr>
    </thead>
    <tbody>

{% regroup objects by for_lot_and_name.name as name_list %}
<tr>
{% for name in name_list %}
<td>{{ name.grouper }}</td>
{% for vg in name.list %}

<td>{{ vg.temperature }}&nbsp°C: {{ vg.density_avg }}</td>



{% endfor %}

</tr>
{% endfor %}

    </tbody>
</table>
<br><br>
<div style="text-align: center;"><h5>{% autoescape off %}{{ TABLENAME3 }}{% endautoescape %} </h5></div>
<br>
<table class="table table-bordered">
    <thead>
        <tr>
            <td>&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbspВЖ&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp</td>
			<td>T&nbsp&nbsp°C:динамика </td>
			<td>T&nbsp&nbsp°C:динамика </td>
			<td>T&nbsp&nbsp°C:динамика </td>
			<td>T&nbsp&nbsp°C:динамика </td>
			<td>T&nbsp&nbsp°C:динамика </td>
			<td>T&nbsp&nbsp°C:динамика </td>
         </tr>
    </thead>
    <tbody>

{% regroup objects by for_lot_and_name.name as name_list %}
<tr>
{% for name in name_list %}
<td>{{ name.grouper }}</td>
{% for vg in name.list %}

<td>{{ vg.temperature }}&nbsp°C: {{ vg.certifiedValue }}</td>



{% endfor %}

</tr>
{% endfor %}

    </tbody>
</table>
</div>
{#конец  таблицы#}
{#</div>#}

{% endblock %}
