{% extends 'main/base.html' %}
{% load crispy_forms_tags %}

{% block title %}
{{ NAME }}
{% endblock %}


{% block content %}

<div style="text-align: center;"><h4><a href="{% url 'kinematicviscosityvalues' %}">Кинематика, плотность, динамика для ВЖ-ПА все АЗ</a> </h4></div>
<br>
<br>
{#форма для поиска по ГСО#}
{#стандартная#}
<form action="/CertifiedValueJ/kinematicаsearchresult/" method="GET">
{% csrf_token %}
{% crispy form %}
</form>
{#конец формы для поиска по ГСО#}

<div class="col-md-10 mt-1" >

{#Таблица кинематика с заголовком#}
<br>
<div style="text-align: center;"><h5><a href="{% url 'kinematicviscosityall' %}">{% autoescape off %}{{ TABLENAME }}{% endautoescape %} </a> </h5></div>
<br>
<table class="table table-bordered">
    <thead>
        <tr>
            <td>&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbspВЖ&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp</td>
			<td>п.</td>
			<td>20&nbsp&nbsp°C</td>
			<td>25&nbsp&nbsp°C</td>
			<td>40&nbsp&nbsp°C</td>
			<td>50&nbsp&nbsp°C</td>
			<td>80&nbsp&nbsp°C</td>
			<td>100&nbsp&nbsp°C</td>
         </tr>
    </thead>
    <tbody>
{% for obj in objects %}
<tr>
    <td>{{ obj.namelot.nameVG }}</td>
    <td>{{ obj.namelot.lot }}</td>
{#поля с АЗ кинематика#}
    <td class="
    {% if obj.cvt20dead >= now and  now_date_plusmonth <= obj.cvt20dead %}green{% endif %}
    {% if now_date_plusmonth >= obj.cvt20dead and obj.cvt20dead >= now %}orange{% endif %}
    {% if obj.cvt20dead < now %}red{% endif %}">
        {% if obj.cvt20dead >= now and  now_date_plusmonth <= obj.cvt20dead %}
        <a href="{% url 'detailkinematic' obj.namelot.nameVG.name obj.namelot.lot '20' %}" style="color: green"><b>
        {% elif now_date_plusmonth >= obj.cvt20dead and obj.cvt20dead >= now %}
        <a href="{%  url 'detailkinematic' obj.namelot.nameVG.name obj.namelot.lot '20' %}" style="color: darkorange">
        {% elif obj.cvt20dead < now %}
        <a href="{%  url 'detailkinematic' obj.namelot.nameVG.name  obj.namelot.lot '20' %}" style="color: red">
        {% endif %}
        {{ obj.cvt20|default_if_none:" " }}</a>
    </td>

    <td class="
    {% if obj.cvt25dead >= now and  now_date_plusmonth <= obj.cvt25dead %}green{% endif %}
    {% if now_date_plusmonth > obj.cvt25dead and obj.cvt25dead > now %}orange{% endif %}
    {% if obj.cvt25dead < now %}red{% endif %}">
        {% if obj.cvt25dead >= now and  now_date_plusmonth <= obj.cvt25dead %}
        <a href="{% url 'detailkinematic' obj.namelot.nameVG.name obj.namelot.lot '25' %}" style="color: green"><b>
        {% elif now_date_plusmonth > obj.cvt25dead and obj.cvt25dead > now %}
        <a href="{%  url 'detailkinematic' obj.namelot.nameVG.name obj.namelot.lot '25' %}" style="color: darkorange">
        {% elif obj.cvt25dead < now %}
        <a href="{%  url 'detailkinematic' obj.namelot.nameVG.name  obj.namelot.lot '25' %}" style="color: red">
        {% endif %}
        {{ obj.cvt25|default_if_none:" " }}</a>
    </td>

    <td class="
    {% if obj.cvt40dead >= now and  now_date_plusmonth <= obj.cvt40dead %}green{% endif %}
    {% if now_date_plusmonth > obj.cvt40dead and obj.cvt40dead > now %}orange{% endif %}
    {% if obj.cvt40dead < now %}red{% endif %}">
        {% if obj.cvt40dead >= now and  now_date_plusmonth <= obj.cvt40dead %}
        <a href="{% url 'detailkinematic' obj.namelot.nameVG.name obj.namelot.lot '40' %}" style="color: green"><b>
        {% elif now_date_plusmonth > obj.cvt40dead and obj.cvt40dead > now %}
        <a href="{%  url 'detailkinematic' obj.namelot.nameVG.name obj.namelot.lot '40' %}" style="color: darkorange">
        {% elif obj.cvt40dead < now %}
        <a href="{%  url 'detailkinematic' obj.namelot.nameVG.name  obj.namelot.lot '40' %}" style="color: red">
        {% endif %}
        {{ obj.cvt40|default_if_none:" " }}</a>
    </td>

    <td class="
    {% if obj.cvt50dead >= now and  now_date_plusmonth <= obj.cvt50dead %}green{% endif %}
    {% if now_date_plusmonth > obj.cvt50dead and obj.cvt50dead > now %}orange{% endif %}
    {% if obj.cvt50dead < now %}red{% endif %}">
        {% if obj.cvt50dead >= now and  now_date_plusmonth <= obj.cvt50dead %}
        <a href="{% url 'detailkinematic' obj.namelot.nameVG.name obj.namelot.lot '50' %}" style="color: green"><b>
        {% elif now_date_plusmonth > obj.cvt50dead and obj.cvt50dead > now %}
        <a href="{%  url 'detailkinematic' obj.namelot.nameVG.name obj.namelot.lot '50' %}" style="color: darkorange">
        {% elif obj.cvt50dead < now %}
        <a href="{%  url 'detailkinematic' obj.namelot.nameVG.name  obj.namelot.lot '50' %}" style="color: red">
        {% endif %}
        {{ obj.cvt50|default_if_none:" " }}</a>
    </td>

    <td class="
    {% if obj.cvt80dead >= now and  now_date_plusmonth <= obj.cvt80dead %}green{% endif %}
    {% if now_date_plusmonth > obj.cvt80dead and obj.cvt20dead > now %}orange{% endif %}
    {% if obj.cvt50dead < now %}red{% endif %}">
        {% if obj.cvt80dead >= now and  now_date_plusmonth <= obj.cvt80dead %}
        <a href="{% url 'detailkinematic' obj.namelot.nameVG.name obj.namelot.lot '80' %}" style="color: green"><b>
        {% elif now_date_plusmonth > obj.cvt80dead and obj.cvt80dead > now %}
        <a href="{%  url 'detailkinematic' obj.namelot.nameVG.name obj.namelot.lot '80' %}" style="color: darkorange">
        {% elif obj.cvt80dead < now %}
        <a href="{%  url 'detailkinematic' obj.namelot.nameVG.name  obj.namelot.lot '80' %}" style="color: red">
        {% endif %}
        {{ obj.cvt80|default_if_none:" " }}</a>
    </td>

    <td class="
    {% if obj.cvt100dead >= now and  now_date_plusmonth <= obj.cvt100dead %}green{% endif %}
    {% if now_date_plusmonth > obj.cvt100dead and obj.cvt100dead > now %}orange{% endif %}
    {% if obj.cvt100dead < now %}red{% endif %}">
        {% if obj.cvt100dead >= now and  now_date_plusmonth <= obj.cvt100dead %}
        <a href="{% url 'detailkinematic' obj.namelot.nameVG.name obj.namelot.lot '100' %}" style="color: green"><b>
        {% elif now_date_plusmonth > obj.cvt100dead and obj.cvt100dead > now %}
        <a href="{%  url 'detailkinematic' obj.namelot.nameVG.name obj.namelot.lot '100' %}" style="color: darkorange">
        {% elif obj.cvt100dead < now %}
        <a href="{%  url 'detailkinematic' obj.namelot.nameVG.name  obj.namelot.lot '100' %}" style="color: red">
        {% endif %}
        {{ obj.cvt100|default_if_none:" " }}</a>
    </td>
{#конец полей с АЗ кинематика#}
    </tr>
    {% endfor %}
    </tbody>
</table>
{#конец Таблицы кинематика с заголовком#}


{#Таблица плотность и динамика с заголовком#}
<br>
<div style="text-align: center;"><h5><a href="{% url 'dinamicviscosityall' %}">{% autoescape off %}{{ TABLENAME2 }}{% endautoescape %} </a> </h5></div>
<br>
<table class="table table-bordered">
    <thead>
        <tr>
            <td>&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbspВЖ&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp</td>
			<td>п.</td>
			<td>20&nbsp&nbsp°C</td>
			<td>25&nbsp&nbsp°C</td>
			<td>40&nbsp&nbsp°C</td>
			<td>50&nbsp&nbsp°C</td>
			<td>80&nbsp&nbsp°C</td>
			<td>100&nbsp&nbsp°C</td>
         </tr>
    </thead>
    <tbody>
{% for obj in objects2 %}
<tr>
		<tr>
			<td rowspan="2">
                &nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp
                &nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp
                &nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp
                {{ obj.namelot.nameVG }}</td>
			<td rowspan="2">
                &nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp
                {{ obj.namelot.lot }}</td>
{#поля с АЗ плотность #}
			<td class="
            {% if obj.cvt20dead > now and  now_date_plusmonth < obj.cvt20dead %}green{% endif %}
            {% if now_date_plusmonth > obj.cvt20dead and obj.cvt20dead > now %}orange{% endif %}
            {% if obj.cvt20dead < now %}red{% endif %}">
                {% if obj.cvt20dead > now and  now_date_plusmonth < obj.cvt20dead %}
                <a href="{% url 'detaildinamic' obj.namelot.nameVG.name obj.namelot.lot '20' %}" style="color: green"><b>
                {% elif now_date_plusmonth >= obj.cvt20dead and obj.cvt20dead >= now %}
                <a href="{%  url 'detaildinamic' obj.namelot.nameVG.name obj.namelot.lot '20' %}" style="color: darkorange">
                {% elif obj.cvt20dead <= now %}
                <a href="{%  url 'detaildinamic' obj.namelot.nameVG.name  obj.namelot.lot '20' %}" style="color: red">
                {% endif %}
                {{ obj.cvt20|default_if_none:" " }}</a>
            </td>

			<td class="
            {% if obj.cvt25dead >= now and  now_date_plusmonth <= obj.cvt25dead %}green{% endif %}
            {% if now_date_plusmonth > obj.cvt25dead and obj.cvt25dead > now %}orange{% endif %}
            {% if obj.cvt25dead < now %}red{% endif %}">
                {% if obj.cvt25dead >= now and  now_date_plusmonth <= obj.cvt25dead %}
                <a href="{% url 'detaildinamic' obj.namelot.nameVG.name obj.namelot.lot '25' %}" style="color: green"><b>
                {% elif now_date_plusmonth >= obj.cvt25dead and obj.cvt25dead >= now %}
                <a href="{%  url 'detaildinamic' obj.namelot.nameVG.name obj.namelot.lot '25' %}" style="color: darkorange">
                {% elif obj.cvt25dead <= now %}
                <a href="{%  url 'detaildinamic' obj.namelot.nameVG.name  obj.namelot.lot '25' %}" style="color: red">
                {% endif %}
                {{ obj.cvt25|default_if_none:" " }}</a>
            </td>
			<td class="
            {% if obj.cvt40dead >= now and  now_date_plusmonth <= obj.cvt40dead %}green{% endif %}
            {% if now_date_plusmonth >= obj.cvt40dead and obj.cvt40dead >= now %}orange{% endif %}
            {% if obj.cvt40dead <= now %}red{% endif %}">
                {% if obj.cvt40dead >= now and  now_date_plusmonth <= obj.cvt40dead %}
                <a href="{% url 'detaildinamic' obj.namelot.nameVG.name obj.namelot.lot '40' %}" style="color: green"><b>
                {% elif now_date_plusmonth >= obj.cvt40dead %}
                <a href="{%  url 'detaildinamic' obj.namelot.nameVG.name obj.namelot.lot '40' %}" style="color: darkorange">
                {% elif obj.cvt40dead <= now %}
                <a href="{%  url 'detaildinamic' obj.namelot.nameVG.name  obj.namelot.lot '40' %}" style="color: red">
                {% endif %}
                {{ obj.cvt40|default_if_none:" " }}</a>
            </td>
			<td class="
            {% if obj.cvt50dead >= now and  now_date_plusmonth <= obj.cvt50dead %}green{% endif %}
            {% if now_date_plusmonth >= obj.cvt50dead and obj.cvt50dead >= now %}orange{% endif %}
            {% if obj.cvt50dead < now %}red{% endif %}">
                {% if obj.cvt50dead >= now and  now_date_plusmonth <= obj.cvt50dead %}
                <a href="{% url 'detaildinamic' obj.namelot.nameVG.name obj.namelot.lot '50' %}" style="color: green"><b>
                {% elif now_date_plusmonth >= obj.cvt50dead and obj.cvt50dead >= now %}
                <a href="{%  url 'detaildinamic' obj.namelot.nameVG.name obj.namelot.lot '50' %}" style="color: darkorange">
                {% elif obj.cvt50dead <= now %}
                <a href="{%  url 'detaildinamic' obj.namelot.nameVG.name  obj.namelot.lot '50' %}" style="color: red">
                {% endif %}
                {{ obj.cvt50|default_if_none:" " }}</a>
            </td>
			<td class="
            {% if obj.cvt80dead >= now and  now_date_plusmonth <= obj.cvt80dead %}green{% endif %}
            {% if now_date_plusmonth >= obj.cvt80dead and obj.cvt80dead >= now %}orange{% endif %}
            {% if obj.cvt80dead <= now %}red{% endif %}">
                {% if obj.cvt80dead >= now and  now_date_plusmonth <= obj.cvt80dead %}
                <a href="{% url 'detaildinamic' obj.namelot.nameVG.name obj.namelot.lot '80' %}" style="color: green"><b>
                {% elif now_date_plusmonth >= obj.cvt80dead and obj.cvt80dead >= now %}
                <a href="{%  url 'detaildinamic' obj.namelot.nameVG.name obj.namelot.lot '80' %}" style="color: darkorange">
                {% elif obj.cvt80dead <= now %}
                <a href="{%  url 'detaildinamic' obj.namelot.nameVG.name  obj.namelot.lot '80' %}" style="color: red">
                {% endif %}
                {{ obj.cvt80|default_if_none:" " }}</a>
            </td>
			<td class="
            {% if obj.cvt100dead >= now and  now_date_plusmonth <= obj.cvt100dead %}green{% endif %}
            {% if now_date_plusmonth >= obj.cvt100dead and obj.cvt100dead >= now %}orange{% endif %}
            {% if obj.cvt100dead <= now %}red{% endif %}">
                {% if obj.cvt100dead >= now and  now_date_plusmonth <= obj.cvt100dead %}
                <a href="{% url 'detaildinamic' obj.namelot.nameVG.name obj.namelot.lot '100' %}" style="color: green"><b>
                {% elif now_date_plusmonth >= obj.cvt100dead and obj.cvt100dead >= now %}
                <a href="{%  url 'detaildinamic' obj.namelot.nameVG.name obj.namelot.lot '100' %}" style="color: darkorange">
                {% elif obj.cvt100dead <= now %}
                <a href="{%  url 'detaildinamic' obj.namelot.nameVG.name  obj.namelot.lot '100' %}" style="color: red">
                {% endif %}
                {{ obj.cvt100|default_if_none:" " }}</a>
            </td>
		</tr>

{#поля с АЗ динамика #}
<tr>
<td class="
{% if obj.cvt20dead >= now and obj.kinematicviscosityfordinamicdead20 >= now and now_date_plusmonth <= obj.cvt20dead and now_date_plusmonth <= obj.kinematicviscosityfordinamicdead20 %}
green{% endif %}
{% if now_date_plusmonth >= obj.cvt20dead and now_date_plusmonth >= obj.kinematicviscosityfordinamicdead20 and obj.cvt20dead >= now and obj.kinematicviscosityfordinamicdead20 >= now %}
orange{% endif %}
{% if obj.cvt20dead <= now or  obj.kinematicviscosityfordinamicdead20 <= now %}
red{% endif %}">
{% if obj.cvt20dead >= now and obj.kinematicviscosityfordinamicdead20 >= now and now_date_plusmonth <= obj.cvt20dead and now_date_plusmonth <= obj.kinematicviscosityfordinamicdead20 %}
<a href="{% url 'detaildinamic' obj.namelot.nameVG.name obj.namelot.lot '20' %}" style="color: green"><b>
{% elif now_date_plusmonth >= obj.cvt20dead and obj.cvt20dead >= now and obj.kinematicviscosityfordinamicdead20 >= now or now_date_plusmonth >= obj.kinematicviscosityfordinamicdead20 and obj.cvt20dead >= now and obj.kinematicviscosityfordinamicdead20 >= now %}
<a href="{%  url 'detaildinamic' obj.namelot.nameVG.name obj.namelot.lot '20' %}" style="color: darkorange">
{% elif obj.cvt20dead <= now or  obj.kinematicviscosityfordinamicdead20 <= now %}
<a href="{%  url 'detaildinamic' obj.namelot.nameVG.name  obj.namelot.lot '20' %}" style="color: red">
{% endif %}
{{ obj.cvtdinamic20|default_if_none:" " }}</a>
</td>

<td class="
{% if obj.cvt25dead >= now and obj.kinematicviscosityfordinamicdead25 >= now and now_date_plusmonth <= obj.cvt25dead and now_date_plusmonth <= obj.kinematicviscosityfordinamicdead25 %}
green{% endif %}
{% if now_date_plusmonth >= obj.cvt25dead and now_date_plusmonth >= obj.kinematicviscosityfordinamicdead25 and obj.cvt25dead >= now and obj.kinematicviscosityfordinamicdead25 >= now %}
orange{% endif %}
{% if obj.cvt25dead <= now or  obj.kinematicviscosityfordinamicdead25 <= now %}
red{% endif %}">
{% if obj.cvt25dead >= now and obj.kinematicviscosityfordinamicdead25 >= now and now_date_plusmonth <= obj.cvt25dead and now_date_plusmonth <= obj.kinematicviscosityfordinamicdead25 %}
<a href="{% url 'detaildinamic' obj.namelot.nameVG.name obj.namelot.lot '25' %}" style="color: green"><b>
{% elif now_date_plusmonth >= obj.cvt25dead and obj.cvt25dead >= now and obj.kinematicviscosityfordinamicdead25 >= now or now_date_plusmonth >= obj.kinematicviscosityfordinamicdead25 and obj.cvt25dead >= now and obj.kinematicviscosityfordinamicdead25 >= now %}
<a href="{%  url 'detaildinamic' obj.namelot.nameVG.name obj.namelot.lot '25' %}" style="color: darkorange">
{% elif obj.cvt25dead <= now or  obj.kinematicviscosityfordinamicdead25 <= now %}
<a href="{%  url 'detaildinamic' obj.namelot.nameVG.name  obj.namelot.lot '25' %}" style="color: red">
{% endif %}
{{ obj.cvtdinamic25|default_if_none:" " }}</a>
</td>

<td class="
{% if obj.cvt40dead >= now and obj.kinematicviscosityfordinamicdead40 >= now and now_date_plusmonth <= obj.cvt40dead and now_date_plusmonth <= obj.kinematicviscosityfordinamicdead40 %}
green{% endif %}
{% if now_date_plusmonth >= obj.cvt40dead and now_date_plusmonth >= obj.kinematicviscosityfordinamicdead40 and obj.cvt40dead >= now and obj.kinematicviscosityfordinamicdead40 >= now %}
orange{% endif %}
{% if obj.cvt40dead <= now or  obj.kinematicviscosityfordinamicdead40 <= now %}
red{% endif %}">
{% if obj.cvt40dead >= now and obj.kinematicviscosityfordinamicdead40 >= now and now_date_plusmonth < obj.cvt40dead and now_date_plusmonth <= obj.kinematicviscosityfordinamicdead40 %}
<a href="{% url 'detaildinamic' obj.namelot.nameVG.name obj.namelot.lot '40' %}" style="color: green"><b>
{% elif now_date_plusmonth >= obj.cvt40dead and obj.cvt40dead >= now and obj.kinematicviscosityfordinamicdead40 >= now or now_date_plusmonth >= obj.kinematicviscosityfordinamicdead40 and obj.cvt40dead >= now and obj.kinematicviscosityfordinamicdead40 >= now %}
<a href="{%  url 'detaildinamic' obj.namelot.nameVG.name obj.namelot.lot '40' %}" style="color: darkorange">
{% elif obj.cvt40dead <= now or  obj.kinematicviscosityfordinamicdead40 <= now %}
<a href="{%  url 'detaildinamic' obj.namelot.nameVG.name  obj.namelot.lot '40' %}" style="color: red">
{% endif %}
{{ obj.cvtdinamic40|default_if_none:" " }}</a>
</td>

<td class="
{% if obj.cvt50dead >= now and obj.kinematicviscosityfordinamicdead50 >= now and now_date_plusmonth <= obj.cvt50dead and now_date_plusmonth <= obj.kinematicviscosityfordinamicdead50 %}
green{% endif %}
{% if now_date_plusmonth > obj.cvt50dead and now_date_plusmonth >= obj.kinematicviscosityfordinamicdead50 and obj.cvt50dead >= now and obj.kinematicviscosityfordinamicdead50 >= now %}
orange{% endif %}
{% if obj.cvt50dead <= now or  obj.kinematicviscosityfordinamicdead50 <= now %}
red{% endif %}">
{% if obj.cvt50dead >= now and obj.kinematicviscosityfordinamicdead50 >= now and now_date_plusmonth <= obj.cvt50dead and now_date_plusmonth <= obj.kinematicviscosityfordinamicdead50 %}
<a href="{% url 'detaildinamic' obj.namelot.nameVG.name obj.namelot.lot '50' %}" style="color: green"><b>
{% elif now_date_plusmonth >= obj.cvt50dead and obj.cvt50dead >= now and obj.kinematicviscosityfordinamicdead50 >= now or now_date_plusmonth >= obj.kinematicviscosityfordinamicdead50 and obj.cvt50dead >= now and obj.kinematicviscosityfordinamicdead50 >= now %}
<a href="{%  url 'detaildinamic' obj.namelot.nameVG.name obj.namelot.lot '50' %}" style="color: darkorange">
{% elif obj.cvt50dead <= now or  obj.kinematicviscosityfordinamicdead50 <= now %}
<a href="{%  url 'detaildinamic' obj.namelot.nameVG.name  obj.namelot.lot '50' %}" style="color: red">
{% endif %}
{{ obj.cvtdinamic50|default_if_none:" " }}</a>
</td>

<td class="
{% if obj.cvt80dead >= now and obj.kinematicviscosityfordinamicdead80 >= now and now_date_plusmonth < obj.cvt80dead and now_date_plusmonth <= obj.kinematicviscosityfordinamicdead80 %}
green{% endif %}
{% if now_date_plusmonth >= obj.cvt80dead and now_date_plusmonth >= obj.kinematicviscosityfordinamicdead80 and obj.cvt80dead >= now and obj.kinematicviscosityfordinamicdead80 >= now %}
orange{% endif %}
{% if obj.cvt80dead <= now or  obj.kinematicviscosityfordinamicdead80 <= now %}
red{% endif %}">
{% if obj.cvt80dead >= now and obj.kinematicviscosityfordinamicdead80 >= now and now_date_plusmonth <= obj.cvt80dead and now_date_plusmonth <= obj.kinematicviscosityfordinamicdead80 %}
<a href="{% url 'detaildinamic' obj.namelot.nameVG.name obj.namelot.lot '80' %}" style="color: green"><b>
{% elif now_date_plusmonth >= obj.cvt80dead and obj.cvt80dead >= now and obj.kinematicviscosityfordinamicdead80 >= now or now_date_plusmonth >= obj.kinematicviscosityfordinamicdead80 and obj.cvt80dead >= now and obj.kinematicviscosityfordinamicdead80 >= now %}
<a href="{%  url 'detaildinamic' obj.namelot.nameVG.name obj.namelot.lot '80' %}" style="color: darkorange">
{% elif obj.cvt80dead <= now or  obj.kinematicviscosityfordinamicdead80 <= now %}
<a href="{%  url 'detaildinamic' obj.namelot.nameVG.name  obj.namelot.lot '80' %}" style="color: red">
{% endif %}
{{ obj.cvtdinamic80|default_if_none:" " }}</a>
</td>

<td class="
{% if obj.cvt100dead >= now and obj.kinematicviscosityfordinamicdead100 >= now and now_date_plusmonth <= obj.cvt100dead and now_date_plusmonth <= obj.kinematicviscosityfordinamicdead100 %}
green{% endif %}
{% if now_date_plusmonth >= obj.cvt100dead and now_date_plusmonth >= obj.kinematicviscosityfordinamicdead100 and obj.cvt20dead >= now and obj.kinematicviscosityfordinamicdead100 >= now %}
orange{% endif %}
{% if obj.cvt100dead <= now or  obj.kinematicviscosityfordinamicdead100 <= now %}
red{% endif %}">
{% if obj.cvt100dead >= now and obj.kinematicviscosityfordinamicdead100 >= now and now_date_plusmonth <= obj.cvt100dead and now_date_plusmonth <= obj.kinematicviscosityfordinamicdead100 %}
<a href="{% url 'detaildinamic' obj.namelot.nameVG.name obj.namelot.lot '100' %}" style="color: green"><b>
{% elif now_date_plusmonth >= obj.cvt100dead and obj.cvt100dead >= now and obj.kinematicviscosityfordinamicdead100 >= now or now_date_plusmonth >= obj.kinematicviscosityfordinamicdead100 and obj.cvt100dead >= now and obj.kinematicviscosityfordinamicdead100 >= now %}
<a href="{%  url 'detaildinamic' obj.namelot.nameVG.name obj.namelot.lot '100' %}" style="color: darkorange">
{% elif obj.cvt100dead <= now or  obj.kinematicviscosityfordinamicdead100 <= now %}
<a href="{%  url 'detaildinamic' obj.namelot.nameVG.name  obj.namelot.lot '100' %}" style="color: red">
{% endif %}
{{ obj.cvtdinamic100|default_if_none:" " }}</a>
</td>
</tr>
{% endfor %}
</tbody>
</table>
</div>
{#конец  таблицы#}
{#</div>#}

{#Таблица кинематика вж-1 и вж-3 с заголовком#}
<br>
<div style="text-align: center;"><h5><a href="{% url 'kinematicviscosityall' %}">Кинематическая вязкость ВЖ-1-ПА и ВЖ-3-ПА (мм2/с)</a> </h5></div>
<br>
<table class="table table-bordered">
    <thead>
        <tr>
            <td>&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbspВЖ&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp</td>
			<td>п.</td>
			<td>-20&nbsp&nbsp°C</td>
			<td>150&nbsp&nbsp°C</td>
         </tr>
    </thead>
    <tbody>
{% for obj in objects3 %}
<tr>
    <td>{{ obj.namelot.nameVG }}</td>
    <td>{{ obj.namelot.lot }}</td>
{#поля с АЗ кинематика#}
    <td class="
    {% if obj.cvtminus20dead > now and  now_date_plusmonth < obj.cvtminus20dead %}green{% endif %}
    {% if now_date_plusmonth > obj.cvtminus20dead and obj.cvtminus20dead > now %}orange{% endif %}
    {% if obj.cvtminus20dead < now %}red{% endif %}">
        {% if obj.cvtminus20dead > now and  now_date_plusmonth < obj.cvtminus20dead %}
        <a href="{% url 'detailkinematic' obj.namelot.nameVG.name obj.namelot.lot '-20' %}" style="color: green"><b>
        {% elif now_date_plusmonth > obj.cvtminus20dead and obj.cvtminus20dead > now %}
        <a href="{%  url 'detailkinematic' obj.namelot.nameVG.name obj.namelot.lot '-20' %}" style="color: darkorange">
        {% elif obj.cvtminus20dead < now %}
        <a href="{%  url 'detailkinematic' obj.namelot.nameVG.name  obj.namelot.lot '-20' %}" style="color: red">
        {% endif %}
        {{ obj.cvtminus20|default_if_none:" " }}</a>
    </td>

    <td class="
    {% if obj.cvt150dead > now and  now_date_plusmonth < obj.cvt150dead %}green{% endif %}
    {% if now_date_plusmonth > obj.cvt150dead and obj.cvt150dead > now %}orange{% endif %}
    {% if obj.cvt150dead < now %}red{% endif %}">
        {% if obj.cvt150dead > now and  now_date_plusmonth < obj.cvt150dead %}
        <a href="{% url 'detailkinematic' obj.namelot.nameVG.name obj.namelot.lot '150' %}" style="color: green"><b>
        {% elif now_date_plusmonth > obj.cvt150dead and obj.cvt150dead > now %}
        <a href="{%  url 'detailkinematic' obj.namelot.nameVG.name obj.namelot.lot '150' %}" style="color: darkorange">
        {% elif obj.cvt150dead < now %}
        <a href="{%  url 'detailkinematic' obj.namelot.nameVG.name  obj.namelot.lot '150' %}" style="color: red">
        {% endif %}
        {{ obj.cvt150|default_if_none:" " }}</a>
    </td>
{% endfor %}
</tbody>
</table>

{#конец  таблицы#}
{% endblock %}