{% extends 'main/base.html' %}
{% load static %}
{% block title %}
    {{ titlehead }}
{% endblock %}


{% block content %}
<div style="text-align: center;"><h3>{{ title }}</h3></div>

<br><br>
{% if meteo != 1  %}
<table class="table table-bordered">
<td ><b>Дата:</b> {{ meteo.date|date:'d.m.Y' }}<br>
<b>Помещение:</b> {{ meteo.roomnumber.roomnumber }}<br>
<b>Температура:</b> {{ meteo.temperature }}<br>
<b>Давление:</b> {{ meteo.pressure }}<br>
<b>Влажность:</b> {{ meteo.humidity }}</td>
</table>
    {% elif  meteo == 1  %}
        <div style="text-align: center;">
      <a href="{% url 'meteoreg' %}" class="btn btn-warning mr-5 mt-3" style="width: 300px" target="blank">
      Добавить метеоданные для комнаты {{ note.room.roomnumber }}, <br>
          за дату {{ note.date|date:"d.m.Y" }}</a></div>
    {% endif %}
<br><br>

{% if  note.equipment1 and note.equipment2 and note.equipment3 and note.equipment4 and note.equipment5  %}
<table class="table table-bordered">
<td ><b>1)</b> {{ note.equipment1|default:" " }}<br>
<b>2)</b> {{ note.equipment2|default:" " }}<br>
<b>3)</b> {{ note.equipment3|default:" " }}<br>
<b>4)</b>{{ note.equipment4|default:" " }}<br>
<b>5)</b> {{ note.equipment5|default:" " }}</td>

</table><div style="text-align: center;">
    <a href="{% url 'kinematicviscosityprotocolhead'  note.pk %}" class="btn btn-warning mr-5 mt-3" style="width: 600px" target="blank">
Изменить использованные для измерения СИ  <br>
</a></div>
{% else  %}
<div style="text-align: center;">
<a href="{% url 'kinematicviscosityprotocolhead' note.pk %}" class="btn btn-warning mr-5 mt-3" style="width: 300px" target="blank">
Добавить использованные для измерения СИ  <br>
</a></div>
{% endif %}
<br><br>

{% if title == 'Есть все данные для формирования протокола' %}
<div style="text-align: center;">
<a href="{% url 'export_kinematicviscosity_protocol_xls' note.pk %}"
class="btn btn-info mr-5 mt-3"
style="width: 210px">Скачать протокол анализа</a></div>
{% endif %}
{% endblock %}
