{% extends 'main/base.html' %}

{% block title %}
 кинематическая вязкость
{% endblock %}

{% block content %}
    <div style="text-align: center;"><h4>Журнал аттестации кинематической вязкости</h4></div>
    <div style="text-align: center;">СО ВЖ-1-ПА ГСО 11296-2019,
        СО ВЖ-2-ПА ГСО 11297-2019, СО ВЖ-3-ПА ГСО 112986-2019</div>
    <div style="text-align: center;">СО СС-ТН-ПА-1 ГСО 11380-2019 по МИ-02-2018,</div>
    <div style="text-align: center;">и измерения и оценки кинематической вязкости по ГОСТ 33</div>
<br>

<table class="table table-bordered">

<thead>

    <tr>
      <th> <div style="text-align: center;"> Дата </div></th>
      <th> <div style="text-align: center;"> ГСО </div></th>
      <th> <div style="text-align: center;"> п. </div></th>
      <th> <div style="text-align: center;"> Т, ℃  </div></th>
        <th> <div style="text-align: center;"> АЗ  </div></th>
      <th> <div style="text-align: center;"> Подробнее  </div></th>

    </tr>
  </thead>

  <tbody>
{% for obj in viscosityobjects %}

    <tr>
      <td align="center">{{ obj.date|date:"d-m-Y" }}</td>
      <td align="center"> {{ obj.name }}</td>
      <td align="center"> п. {{ obj.lot }}</td>
      <td align="center">{{ obj.temperature }}℃ </td>
      <td align="center">{{ obj.certifiedValue_text }} мм<sup>2</sup>/с </td>
      <td align="center"><a href="{% url 'Str' obj.id %}"  class="btn btn-outline-warning mt-3">смотреть</a></td>

    </tr>

{% endfor %}
  </tbody>
</table>
{% endblock %}