{% extends 'main/superbase.html' %}

{% block title %}
 кинематическая вязкость
{% endblock %}

{% block content %}
    <div class="row">

    <div class="col-md-8 mt-2" >
    <div style="text-align: center;"><h4><a href="/attestationJ/kinematicviscosity/"> Журнал аттестации кинематической вязкости </a></h4></div>
    <div style="text-align: center;">СО ВЖ-1-ПА ГСО 11296-2019,
        СО ВЖ-2-ПА ГСО 11297-2019, СО ВЖ-3-ПА ГСО 112986-2019</div>
    <div style="text-align: center;">СО СС-ТН-ПА-1 ГСО 11380-2019 по МИ-02-2018,</div>
    <div style="text-align: center;">и измерения и оценки кинематической вязкости по ГОСТ 33</div>
<br>

<table class="table table-bordered">

<thead>

    <tr>
      <th> <div style="text-align: center;"> Дата </div></th>
      <th> <div style="text-align: center;"> ГСО </div></th>
      <th> <div style="text-align: center;"> п. </div></th>
      <th> <div style="text-align: center;"> Т, ℃  </div></th>
        <th> <div style="text-align: center;"> АЗ  </div></th>
      <th> <div style="text-align: center;"> Подробнее  </div></th>

    </tr>
  </thead>

  <tbody>

{% for obj in viscosityobjects %}

    <tr>
      <td align="center">{{ obj.date|date:"d-m-Y" }}</td>
      <td align="center"> {{ obj.name }}</td>
      <td align="center"> п. {{ obj.lot }}</td>
      <td align="center">{{ obj.temperature }}℃ </td>
      <td align="center">{{ obj.certifiedValue_text }} сСт </td>
      <td align="center"><a href="{% url 'Str' obj.id %}"  class="btn btn-outline-warning mt-3">смотреть</a></td>

    </tr>

{% endfor %}

  </tbody>
</table>

    </div>

<div class="col-md-4 mt-8" >
    <div style="text-align: center;"><h4> Фильтр записей  </h4></div>

<form action="" method="get" class="form-register">
        {{ filter.form.as_p }}
        <input type="submit" />
    </form>
       </div>
       </div>
{% endblock %}
 {% block aside %}





{#     <div class="search-bar w3layouts-newsletter">#}
{##}
{##}
{#<form action="{% url 'filter' %}" method="get">#}
{#    <div class="left-side my-4">#}
{#        <h6>Названия</h6>#}
{#        <ul class="w3layouts-box-list">#}
{#            {% for genre in lots %}#}
{#                <li class="editContent">#}
{#                    <input type="checkbox" class="checked" name="name" value="{{ genre.name }}">#}
{#                    <span class="span editContent">{{ genre.name }}</span>#}
{#                </li>#}
{#            {% endfor %}#}
{#        </ul>#}
{#    </div>#}
{#<button type="submit">Найти</button>#}
{#</form>#}
{#    <!-- // preference -->#}
{#    <!-- discounts -->#}
{#</div>#}
{##}
{#     </div>#}
{% endblock %}