{% extends 'main/base.html' %}
{% load crispy_forms_filters %}
{% load crispy_forms_tags %}

{% block title %}
Внести запись
{% endblock %}


{% block content %}
{#кнопки#}
{#нестандартная#}
<a href="/attestationJ/{{ URL }}/" class="btn btn-info mt-3 mr-3">перейти в журнал</a>
<a href="{% url 'konstv' %}" class="btn btn-info mt-3 mr-3" target="blank">константы вискозиметров</a>
<a href="https://petroanalytica.sharepoint.com/:x:/r/sites/main/_layouts/15/Doc.aspx?sourcedoc=%7B90C89434-109D-437A-9EB1-75851EFAAE37%7D&file=%D1%81%D1%80%D0%BE%D0%BA%D0%B8%20%D0%92%D0%96%20%D0%B0%D0%BA%D1%82%D1%83%D0%B0%D0%BB%D1%8C%D0%BD%D0%BE%D1%81%D1%82%D1%8C%20%D0%B4%D0%B0%D0%BD%D0%BD%D1%8B%D1%85(%D0%B2%D1%8F%D0%B7%D0%BA%D0%BE%D1%81%D1%82%D1%8C)-prt-ws02.xlsx&action=default&mobileredirect=true"
class="btn btn-info mt-3 mr-3" target="blank">Список АЗ</a>
{#конец кнопок#}

{#форма регистрации#}
{#стандартная#}
<form method="post" class="form-register">
    {% csrf_token %}
    {% crispy form %}
</form>
{% endblock %}