{% extends 'main/base.html' %}
{% load crispy_forms_filters %}
{% load crispy_forms_tags %}

{% block title %}
Внести запись
{% endblock %}


{% block content %}
{#кнопки#}
{#нестандартная#}
<a href="/attestationJ/{{ URL }}/" class="btn btn-info mt-3 mr-3">перейти в журнал</a>
<a href="{% url 'konstv' %}" class="btn btn-info mt-3 mr-3" target="blank">константы вискозиметров</a>
<a href="/CertifiedValueJ/kinematicviscosityvalues/"
class="btn btn-info mt-3 mr-3" target="blank">Список АЗ</a>
{#конец кнопок#}

{#форма регистрации#}
{#стандартная#}
<form method="post" class="form-register">
    {% csrf_token %}
    {% crispy form %}
</form>
{% endblock %}