{% extends 'main/superbase.html' %}

{% block title %}
 Измерение вязкости
{% endblock %}


{% block content %}
    <div class="row">
<div class="col-md-2">
      <a href="/attestationJ/kinematicviscosity/registration/" class="btn btn-warning mt-3 mr-5">&nbsp&nbspвнести&nbsp&nbsp&nbsp ещё </a>
        <a href="/attestationJ/kinematicviscosity/" class="btn btn-warning mt-3">В  журнал</a>
    </div>
<div class="col-md-4 mt-1" >
    <table class="table table-bordered background-color">
	<tbody>
        <tr>
			<th colspan="9"><div style="text-align: center;">Атт.-ВЖ-(МИ № 02-2018)-{{ note.date|date:"Y"}}
                &nbsp&nbsp&nbsp&nbsp&nbsp&nbsp
                &nbsp&nbsp&nbsp&nbsp&nbsp&nbsp
                &nbsp&nbsp&nbsp&nbsp&nbsp&nbsp
                &nbsp&nbsp&nbsp&nbsp&nbsp&nbsp
                &nbsp&nbsp&nbsp&nbsp&nbsp&nbsp
                &nbsp&nbsp&nbsp&nbsp&nbsp&nbsp
                &nbsp&nbsp&nbsp&nbsp&nbsp&nbsp
                &nbsp&nbsp&nbsp&nbsp&nbsp&nbsp
                &nbsp&nbsp&nbsp&nbsp&nbsp&nbsp
                № записи {{ note.id}}
                 &nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbspСтр.&nbsp&nbsp&nbsp&nbsp </div></th>
		</tr>

		<tr>
			<th colspan="9"><div style="text-align: center;">Определение кинематической вязкости по МИ-02-ПА </div></th>
		</tr>
		<tr>
			<th><div style="text-align: center;">Дата измерения</div></th>
			<th colspan="2"><div style="text-align: center;">Наименование</div></th>
			<th colspan="2"><div style="text-align: center;"></div>Номер&nbsp&nbspпартии</th>
			<th colspan="2"><div style="text-align: center;"></div>Т °C</th>
			<th><div style="text-align: center;"></div>Термост. 20 мин</th>
			<th><div style="text-align: center;">Содержит&nbspнефть или октол</div></th>
		</tr>
		<tr>
			<td><div style="text-align: center;">{{ note.date }}</div></td>
			<td colspan="2"><div style="text-align: center;">{{ note.name}}</div></td>
			<td colspan="2"><div style="text-align: center;">{{ note.lot}}</div></td>
			<td colspan="2"><div style="text-align: center;">{{ note.temperature}}</div></td>
			<td><div style="text-align: center;">{{ note.termostatition_words}}</div></td>
			<td><div style="text-align: center;">{{ note.constit}}</div></td>
		</tr>
		<tr>
			<th colspan="9"><div style="text-align: center;">Проведение измерений</div></th>
		</tr>
		<tr>
			<th><div style="text-align: center;">№ виск-ра</div></th>
			<td colspan="4"><div style="text-align: center;">{{ note.ViscosimeterNumber1}}</div></td>
			<td colspan="4"><div style="text-align: center;">{{ note.ViscosimeterNumber2}}</div></td>
		</tr>
		<tr>
			<th rowspan="2"><div style="text-align: center;">Константа вискозиметра, мм<sup>2</sup>/с<sup>2</sup></div></th>
			<th colspan="4"><div style="text-align: center;">К<sub>1</sub></div></th>
			<th colspan="4"><div style="text-align: center;">К<sub>2</sub></div></th>
		</tr>
		<tr>
			<td colspan="4"><div style="text-align: center;">{{ note.Konstant1}}</div></td>
			<td colspan="4"><div style="text-align: center;">{{ note.Konstant2|default_if_none:" "}}</div></td>
		</tr>
		<tr>
			<th rowspan="2"><div style="text-align: center;">Время истечения 1, τ<sub>1</sub></div></th>
			<th colspan="3"><div style="text-align: center;">τ<sub>11</sub>, минут</div></th>
			<th><div style="text-align: center;">τ<sub>11</sub>, секунд</div></th>
            <th colspan="3"><div style="text-align: center;">τ<sub>21</sub>, минут</div></th>
			<th><div style="text-align: center;">τ<sub>21</sub>, секунд</div></th>
		</tr>
		<tr>
			<td colspan="3"><div style="text-align: center;">{{ note.plustimeminK1T1}}:{{ note.plustimesekK1T1}}</div></td>
			<td><div style="text-align: center;">{{ note.timeK1T1_sec|default:" "}}</div></td>
            <td colspan="3"><div style="text-align: center;">{{ note.plustimeminK2T1|default_if_none:" "}}:{{ note.plustimesekK2T1|default_if_none:" "}}</div></td>
            <td><div style="text-align: center;">{{ note.timeK2T1_sec|default:" "}}</div></td>
		</tr>
		<tr>
			<th rowspan="2"><div style="text-align: center;">Время истечения 2, τ<sub>2</sub></div></th>
			<th colspan="3"><div style="text-align: center;">τ<sub>21</sub>, минут</div></th>
			<th><div style="text-align: center;">τ<sub>21</sub>, секунд</div></th>
            <th colspan="3"><div style="text-align: center;">τ<sub>22</sub>, минут</div></th>
			<th><div style="text-align: center;">τ<sub>22</sub>, секунд</div></th>
		</tr>
		<tr>
			<td colspan="3"><div style="text-align: center;">{{ note.plustimeminK1T2|default_if_none:" "}}:{{ note.plustimesekK1T2|default_if_none:" "}}</div></td>
			<td><div style="text-align: center;">{{ note.timeK1T2_sec|default:" "}}</div></td>
            <td colspan="3"><div style="text-align: center;">{{ note.plustimeminK2T2|default_if_none:" "}}:{{ note.plustimesekK2T2|default_if_none:" "}}</div></td>
            <td><div style="text-align: center;">{{ note.timeK2T2_sec|default:" "}}</div></td>
		</tr>
		<tr>
			<th rowspan="2"><div style="text-align: center;">Время истечения среднее</div></th>
            <th colspan="4"><div style="text-align: center;">τ<sub>1</sub>, секунд</div></th>
            <th colspan="4"><div style="text-align: center;">τ<sub>2</sub>, секунд</div></th>
		</tr>
		<tr>
			<td colspan="4"><div style="text-align: center;">{{ note.timeK1_avg }}</div></td>
            <td colspan="4"><div style="text-align: center;">{{ note.timeK2_avg|default:" " }}</div></td>
		</tr>
		<tr>
			<th rowspan="2"><div style="text-align: center;"> Вязкость кинематическая  ν<sub>i</sub> = К<sub>i</sub> * τ<sub>i</sub>   </div></th>
            <th colspan="4"><div style="text-align: center;">ν<sub>1</sub>, мм<sup>2</sup>/с</div></th>
            <th colspan="4"><div style="text-align: center;">ν<sub>2</sub>, мм<sup>2</sup>/с</div></th>
		</tr>
		<tr>
		<td colspan="4"><div style="text-align: center;">{{ note.viscosity1 }}</div></td>
            <td colspan="4"><div style="text-align: center;">{{ note.viscosity2|default:" " }}</div></td>
		</tr>
		<tr>
			<th colspan="9"><div style="text-align: center;">Обработка результатов</div></th>
		</tr>
		<tr>
			<th colspan="2"><div style="text-align: center;">&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp
                &nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp
                &nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp
                &nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp
                ν<sub>сред</sub> = (ν<sub>1</sub> + ν<sub>2</sub>)/2</div></th>
			<th colspan="5"><div style="text-align: center;">Оценка&nbspприемлемости
                &nbsp&nbsp&nbsp&nbsp&nbsp&nbsp измерений,
               &nbsp&nbsp&nbsp&nbsp&nbsp&nbsp

                Δ = (|ν<sub>1</sub> - ν<sub>2</sub>|/ν<sub>сред</sub>) * 100 %</div></th>
			<th colspan="2"><div style="text-align: center;">Критерий приемлемости измерений, r  </div></th>
		</tr>
		<tr>
			<td colspan="2"><div style="text-align: center;">{{ note.viscosityAVG }}</div></td>
			<td colspan="5"><div style="text-align: center;">{{ note.accMeasurement|default:" " }}</div></td>
			<td colspan="2"><div style="text-align: center;">{{ note.kriteriy|default:" " }}</div></td>
		</tr>
		<tr>
			<tr>
			<td colspan="9">
                {% if note.resultMeas == 'неудовлетворительно' %}
                <div class="TransactionAmount Badresult">
                {% else %}
                <div class="TransactionAmount Goodresult">
                {% endif %}
                 Результат измерений: <b>{{ note.resultMeas }} </b> {{ note.cause }}


                &nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp
                &nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp
                &nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp
                </div>

            </td>
		</tr>

        <tr>
			<th colspan="9"><div style="text-align: center;">Фиксация результатов</div></th>
		</tr>
		<tr>
			<th colspan="1"><div style="text-align: center;">АЗ  мм<sup>2</sup>/с</div></th>
			<th colspan="3"><div style="text-align: center;">Абс. погр.  Δν = (ν<sub>сред</sub> * 0,3)/ 100</div></th>
			<th colspan="2"><div style="text-align: center;">Предыдущее значение вязкости ν<sub>пред</sub>, мм<sup>2</sup>/с</div></th>
			<th colspan="3">Разница с ν<sub>пред  </sub>
                &nbsp&nbsp&nbsp&nbsp&nbsp
                Δν<sub>пред</sub> = (|ν<sub>1</sub> - ν<sub>2</sub>|/ν<sub>сред</sub>) * 100 %</th></th>
		</tr>
		<tr>
			<td colspan="1"><div style="text-align: center;">{{ note.certifiedValue_text }}</div></td>
			<td colspan="3"><div style="text-align: center;">{{ note.abserror_text }}</div></td>
			<td colspan="2"><div style="text-align: center;">{{ note.oldCertifiedValue }}</div></td>
            <td colspan="3"><div style="text-align: center;">{{ note.deltaOldCertifiedValue_text }}</div></td>
		</tr>
        <tr>
        <td colspan="9">

                <div class="TransactionAmount Badresult">
                  <b>{{ note.resultWarning }}</b>
                </div>


            </td>

{#			<th colspan="9"> {% if note.resultWarning == 'Измеренное АЗ отличается от предыдущего более чем на 0,7 %, проверьте условия эксперимента. Рекомендовано измерить повторно.' %}#}
{#                                 <div class="TransactionAmount Badresult">#}
{#                             {% endif %}#}
{#                {{ note.resultWarning }}</div>> </th>#}
		</tr>
        <tr>
			<th colspan="3">Исполнитель </th>
            <th colspan="2"><div style="text-align: center;">внесено</div></th>
            <th colspan="2"><div style="text-align: center;">отправлено</div></th>
            <th colspan="1">ОТК</th>
            <th colspan="1">комметарии</th>

		</tr>
		<tr>
			<th colspan="3">{{ note.performer }} </th>
            <td colspan="2"><div style="text-align: center;"></div></td>
            <td colspan="2"><div style="text-align: center;">
{#                {% if note.resultMeas == 'удовлетворительно' %}#}
{#                 <form method="post" >#}
{#        {% csrf_token %}#}
{#        {{ form.as_p }}#}
{#        <button class="btn btn-outline-warning" type="submit">Отправить</button>#}
{#    </form>#}
{#   #}
{#                {% endif %}#}
            </div></td>

            <td colspan="1"><div style="text-align: center;">


            </div></td>
            <th colspan="1">
                <a href="{% url 'comm' note.id %}"  class="btn btn-outline-warning mt-3">комметарии</a></th>

		</tr>

	</tbody>
</table>
</div>
    </div>
    &nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp
                &nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp
                &nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp
    &nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp
                &nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp
                &nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp
    &nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp
                &nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp
                &nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp
    &nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp
                &nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp
                &nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp
    &nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp



    <a href="javascript:(print());" class="btn btn-warning mt-1">Распечатать</a>
{% endblock %}
