{% extends 'main/base.html' %}
{% block title %}
    Типы вискозиметров
{% endblock %}

{% block content %}
  {% for post in viscosimeterType %}
    <div class="alert alert-light">
      <h1> Номер пары: {{ data.viscosimeterType }}</h1>
      <p>{{ viscosimeterType.diameter }}</p>
      <span class="text-muted">{{ data.viscosimeterType }}</span>
      {% if viscosimeterType.diameter %}
        <p><b>Автор:</b> <mark>{{ data.viscosimeterType }}</mark></p>
      {% else %}
        <p><b>Автор:</b> <mark>Админ</mark></p>
      {% endif %}
    </div>
  {% endfor %}
{% endblock %}
