{% extends 'main/base.html' %}
{% block title %}
    Вискозиметры
{% endblock %}

{% block content %}
    <div style="text-align: center;"><h3>Константы вискозиметров</h3></div>
<br>

<table class="table table-bordered">

<thead>

    <tr>
      <th> <div style="text-align: center;"> Номер </div></th>
      <th> <div style="text-align: center;"> Константа, мм<sup>2</sup>/с<sup>2</sup> </div></th>
      <th> <div style="text-align: center;"> ν/1000 </div></th>
      <th> <div style="text-align: center;"> Область измерений, мм<sup>2</sup>/с </div></th>
      <th> <div style="text-align: center;"> ⌀ </div></th>
      <th> <div style="text-align: center;"> Поверка до </div></th>
      <th> <div style="text-align: center;"> Дата калибровки </div></th>


    </tr>
  </thead>

  <tbody>
{% for note in viscosimeters %}

    <tr>
      <td> <div style="text-align: center;">
{#           {{ note.konstant }}#}
          {{ note.id_Viscosimeter.equipmentSM.equipment.lot }}
      </div></td>
      <td> <div style="text-align: center;">
{#       {{ note.kalibration_set.all.last.konstant }}#}
          {{ note.konstant }}
      </div></td>
      <td> <div style="text-align: center;"> {{ note.id_Viscosimeter.viscosimeterType.viscosity1000 }}</div></td>
      <td> <div style="text-align: center;"> {{ note.id_Viscosimeter.viscosimeterType.range }}</div></td>
      <td> <div style="text-align: center;">
{#          {{ note.viscosimeterType.diameter }}#}
          {{ note.id_Viscosimeter.viscosimeterType.diameter }}
      </div></td>
      <td> <div style="text-align: center;">  </div></td>
      <td> <div style="text-align: center;">
      {{ note.dateKalib|date:"d.m.Y" }}
      </div></td>

    </tr>

{% endfor %}
  </tbody>
</table>
{% endblock %}
