{% extends 'main/base.html' %}
{% load static %}
{% block title %}
    Лабораторные журналы
{% endblock %}


{% block content %}
    <div style="text-align: center;">
<h1>Что это за сайт?</h1>
<table class="table table-bordered">
    <td colspan="6">
        <p>
        <p align="justify"> ● Этот сайт - лабораторная информационная система Labjournal (ЛИС).
            Labjournal представляет из себя авторский программный код, написанный на языке Python3, построенный
            средствами
            фреймворка Django,
            и базу данных SQlite (БД), в которой хранятся все данные.
        <br>В свою очередь,
            БД SQlite представляет из себя файл. База данных является отдельной сущностью.
            Доступ к данным в базе может осуществлятся множеством способов.
            В данной реализации, обмен данными между пользователем и базой данных происходит посредством программного
            кода ЛИС
            Labjournal.</p>
        <p align="justify"> ● На данный момент в программе labjournal реализовано 3 раздела:
            1) Журналы результатов испытаний с авторасчётом результатов измерений.
            2) Журналы аттестованных значений СО.
            3) Учёт лабораторного оборудования.</p>
        
        <h4>Раздел оборудование</h4>
        <p align="justify">У нас растет количество единиц оборудования и различной необходимой документации к нему.
            Раньше все хранилось в exel.
            График поверки в exel приходится держать под паролем, и вводить пароль каждый раз, когда что-то надо поменять.
            Так как
            были случаи несанкционированного изменения данных.
            А ведь там достаточно случайно поменять дату, чтобы прибор оказался неповеренным в нужное время,
            следовательно непригодным к работе. </p>
        <p align="justify"> В любой программе ЛИС это неудобство исключено,
            так как можно зайти в программу ЛИС, находясь под своей учетной записью майкрософт и оставаться постоянно
            авторизованным.
        <p align="justify">Наример, если я меняю расположение гигрометра (потому что он заменяется по сезону и по
            поверке)
            , то я обязана внести изменения: в график поверки, график ТО,
            карточку прибора, форму 707, протокол верификации.
            Это все рутинная, бумажная работа, которую можно и нужно автоматизировать.</p>
        <h6>Удобство базы данных</h6>
        <p align="justify">Очевидно, что любые более-менее большие данные должны храниться в базе данных. Приведу только
            некоторые примеры:</p>
        <p align="justify">● В базе данных в атомарном виде расположены все необходимы данные об оборудовании.
            Составляя их в программе как пазл
            (для этого надо писать SQL запросы),
            можно сформировать любой документ по любой форме, которую попросят,
            и сформировав документ для одного прибора, мы получаем документы сразу для всех приборов.
            Также можно массово подправить форму документа.</p>
        <p align="justify">● Нет избыточного хранения информации. При многократном дублировании одних и тех же данных во
            многих документах
            (для прибора это: график поверки, график ТО, карточка прибора, протокол верификации и т.д.) всегда возникает
            ситуация,
            что в одном месте поменяли, в другом забыли, и данные путаются. Наша компания - не исключение. </p>

        <p align="justify">● Можно спрятать старые данные, чтобы они не засоряли актуальные, но так,
            чтобы их можно было найти. Пример - списаные приборы из базы никуда не деваются, но на глаза не попадаются,
            пока не начать искать их специально.
        </p>
        <p align="justify">● Невероятное удобство поиска информации.
        </p>


        <p> <h6><b>Преимущества перед другими программами</b></h6>
        <p align="justify"> Думаю, преимущества перед <b>exel</b> уже особо рассматривать не нужно:
            это и удобный поиск по данным,
            и
            защита данных от изменения,
            и разграничение доступа к просмотру и редактированию информации группам пользователей.
            <br>Также возможность массово поменять формы однотипных документов, не меняя хранимых данных (например,
            переименовать
            все 180 карточек на приборы парой нажатий клавиш). Да и многое другое. </p>
        <p align="justify">
            Можно выделить по крайней мере 5 преимуществ программы labjournal по сравнению с <b>D-control</b>:
            <br>1) Тонкая настройка
            <br>D-control это коробочный продукт, рассчитанный на аккредитацию в области ГОСТ 17025.
            Наша деятельность имеет множество своих особенностей.
            Программу labjournal возможно тонко настроить под все необходимые нам потребности. По сути, это
            универсальный материал,
            из которого можно собрать все, что нам требуется. Сайт написан на djangо/python3. Его можно сравнить с
            кирпичиками,
            из которых мы можем построить нужный нам функционал. Тогда как коробочный продукт - это уже готовый дом,
            перестроить который не просто. (По этой аналогии - 1С - это уже памятник архитектуры, настолько сложно там
            что-либо поменять;
            тогда как exel подобен шалашу или палатке. Палатки бывают очень хорошие и дорогие,
            переночевать можно, но жить в палатке - это не очень. ).
            <br>2) Дружественный интерфейс
            <br> D-control это оконное приложение, которое требует обучения специалистов для работы с ней.
            Из отзывов на форуме: "D-control имеет крайне непонятный и устаревший интерфейс."
            labjournal похожа на современный интернет-магазин и интуитивно понятна.
            Она задумывалась так, чтобы с ней без особой подготовки мог работать любой
            лаборант, и даже не химик. Практика показала, что проблем с пониманием и использованием не возникает.
            Достаточно быть просым пользователем ПК.
            <br>Некоторое недовольство вызвали ограничения программы: например,
            программа не дает вносить измерения "задним числом", там автоматически проставляется текущая дата.
            Нельзя удалить запись из журнала, не имея прав администратора сайта и пр.
            <br>3) Бюджетность
            <br>Стоимость программы D-control от 120 тысяч за установку для двух пользователей и
            по 24 тысячи для большего количества пользователей. Программа labjournal, возможно но не обязательно (см ниже), потребует
            валидации,
            стоимость которой составляет порядка 100 тысяч. Ограничения по количеству пользователей нет. Также, в случае
            размещения
            на платном хостинге стоимость его составляет около 900 руб в месяц. (Сейчас я оплачиваю сама,
            так как там еще другие мои сайты, а стоимость единая для нескольких сайтов). От платного хостинга также
            можно отказаться.
            <br>4) Доступность информации
            <br>Из четвертого пункта вытекает проблема D-control - ограничение доступа к информации.
            Информация об оборудовании нужна каждому инженеру ежедневно, будет как с 1С, чтобы одному зайти, то другому
            надо выйти.

            <br>5) Кроссплатформенность.
            <br>D-control устанавливается на windows, доступа с мобильного телефона нет. В случае ЛИС на сайте,
            каковой является программа Labjournal,
            есть моментальный доступ
            с мобильного телефона.
            <br>Пример: часто при сдаче приборов на поверку операторы задают разные уточняющие вопросы.
            Я могу найти и предоставить всю подробную информацию о каждой единице оборудования прямо с мобильного
            телефона,
            за несколько секунд.
        <p> <h6><b>О безопасности</b></h6>
        <p align="justify">
            ● Весь работающий программный код и БД находятся на удаленном сервере. Копии кода и БД находятся на нескольких
            локальных компьютерах.
            БД регулярно выгружется на локальный компьютер
            <br>В гипотетическом случае отсутствия доступа к удаленному
            серверу
            данные будут доступны до момента последней выгрузки БД на локальный компьютер.
            <br> Сайт можно просматривать не имея личной учетной записи, но весь сайт защищен общим паролем,
            чтобы исключить доступ со стороны. Имея личную учетную запись можно редактировать данные в БД через сайт, в
            пределах разрешений для конкретной учетной записи.
            <br>● Отказ от ЛИС LabJournal<br>
            Всю информацию с ЛИС LabJournal, после некоторых настроек, можно выгрузить в формат exel и продолжить работу
            с файлами exel, как это и было раньше. При переходе на другую ЛИС,
            поместить данные в другую ЛИС придется вручную, либо она примет текущую БД,
            либо (наиболее вероятный сценарий) на основе exel создается csv файл (элементарная процедура)
            и при помощи него данные подгружаются в новую базу данных, если она поддерживает такую функцию.
            Обычно такая загрузка данных предусмотрена.
            <br> ● Файлы программы и базу данных можно разместить на локальном сервере на территории ПА, и пользоваться сайтом
            не со стороннего сервера, а с локального.
            Для этого потребуется помощь специалистов.
        </p>
         <p><i>Кстати о текущей безопасности: сейчас все данные выложены в облаке, и доступ к ним есть у любого
            у кого хоть когда-то был пароль от какой-нибудь учётки ПА, с любого устройства. </i> </p>
        <br><h6><b>Легитимность</b></h6>
        <p align="justify">
            По ГОСТ 17025, которого мы обязаны придерживаться, любое ПО должно быть валидировано либо быть популярным
            (широко используемым).
            <br>Есть 4 пути решения этой проблемы для ЛИС LabJournal
            <br> 1) Разослать урезанную версию программы в заинтересованные лаборатории в надежде что они напишут
            отзывы.
            Раздел про оборудование - он может быть интересен многим, в отличие от лабораторных журналов, которые
            настроены под ПА.
            Так как требования по оборудованию у всех примерно одинаковые.
            <br> 2) Заказать валидацию ЛИС LabJournal - я показывала программу (код программы) организации, которая валидирует для
            фармацефтики, они проанализировали, проконсультировались с АЦЦ Аналитика, и выставили КП на сумму порядка
            100 тысяч руб.
            <br> 3) Так как никаких особых требований в 17025 не прописано, то многие идут таким путем: валидацию
            проводит
            независимый отдел.
            Например, может быть это сможет сделать Саша Абрамов в рамках отдела приборов.
            <br>4) Мы вообще не обязаны показывать программу комиссиям. Все документы выгружаются в формате exel.
            Графики, карточки и пр.
            А к exel вопросов уже нет. Минус - придется нажимать кнопочку "выгрузить" после внесения изменений в
            программе,
            потом переносить выгруженный файл в нужную директорию и заменять им старый.
        </p>
        <h6><b>Развитие</b></h6>
        <p align="justify">
            В D-control есть множество разделов, которых нет в LabJournal:
            <br> ● Есть в LabJournal и наверняка есть в D-control:
            <br>Учет СИ и ИО и их поверки, выгрузка всех необходимых документов (карточек, графиков).
            Выгрузка протоколов испытаний. Журнал микроклимата. Все данные выгружаются в унифицированной форме.
            <br> ● Есть  в D-control:
            <br>Учет сотрудников, стандартных образцов, претензий, аудитов, контроль качества воды, учет реактивов
            <br>Это задачи примерно однотипные. Дописать их по аналогии с оборудованием не сложно. Но потребует времени.

             <h6><b>про D-control</b></h6>
        <p align="justify">
            Существует ряд подобных ЛИС.
            В интернете не очень много отзывов реальных пользователей о них. Они дорогие,
            большинство  используют бесплатно exel. Мое мнение, что пользователей отталкивает еще и
             достаточно недружественный интерфейс, сложность установки,
            настройки. В этом тоже плюс LabJournal, что устанавливать ее не нужно отдельно на каждый компьютер.
            Минус в том, что без интернета данные будут недоступны, но в современном мире без интернета вообще никак
            - облако наше тоже не работает, если нет интернета.
            Непосредственно про D-control химики отзываются нейтрально:
            "Крайне непонятный и устаревший интерфейс..., Не фонтан конечно, но уж точно лучше чем на бумаге или в экселе всю
            документацию ваять... Оценили полезность программы при прохождении аккредитации..."
            <br>D-control разработан АЦЦ Аналитика, думаю, что формы документов там самые что ни на есть актуальные.
            Как я заметила, при прохождении аккредитации претензий к формам документов практически не было.
            Главное, чтобы они были, и содержали ту информацию, какую должны содержать.
            В ГОСТах пишут что документ должен содержать то-то
            и то-то, формы документов если и есть, то обычно с пометкой "рекомендуемое" , а не "обязательное"</p>
            <h6><b>Мой интерес</b></h6>
        <p align="justify">
             Обсуждать вопрос о внедрении программы,
            после истории с журналом по вязкости,
            который сначала был одобрен начальницей производства, потом принят в штыки, я опасаюсь.
            <br>Мне лично очень удобно работать с ЛИС LabJournal. Конечно, потому что я написала ее сама, и как химик - химику.
            :) <br>Все данные уже есть в ней. Все налажено. <br>Для всех кроме себя я выгружаю
            данные в формат exel, так что для коллег ничего не изменилось. Как все хранилось в exel так и осталось.
            <br>Переходить на D-control в части оборудования у меня желания нет.
            Но в случае принятия решения перейти на D-control  - буду осваивать. </p>







        </td>
</table>
</div>
<br><br>
<div style="text-align: center;">
<img src="{% static 'main/img/2.jpg' %}"
alt="Изображение на главной странице"></div>

{% endblock %}
