{% extends 'main/base.html' %}
{% load static %}
{% block title %}
Журналы аттестации
{% endblock %}


{% block content %}
    <div style="text-align: center;"><h4>Журналы аттестации</h4></div>
<br>
<table class="table table-bordered">
<thead>
    <tr>
      <th> <div style="text-align: center;"> Наименование </div></th>
      <th> <div style="text-align: center;"> Ответственный  </div></th>
      <th> <div style="text-align: center;"> Открыть журнал  </div></th>
    </tr>
  </thead>
  <tbody>
{% for obj in objects %}
    <tr>
      <td>{{ obj.name }}</td>
      <td> {{ obj.performer }}</td>
      <td><a href="{{obj.for_url}}"  class="btn btn-outline-warning mt-3">открыть журнал</a></td>
    </tr>
{% endfor %}
</tbody>
</table>
{% endblock %}