{% extends 'main/base.html' %}
{% load static %}
{% block title %}
    Оборудование
{% endblock %}


{% block content %}
<div style="text-align: center;"><h3>Лабораторное оборудование</h3></div>
<br><br>
<div style="text-align: center;">
<a href="{% url 'measureequipmentall' %}" class="btn btn-warning mr-5 mt-3" >СИ</a>
</div>
<div style="text-align: center;">
<a href="{% url 'testingequipmentall' %}" class="btn btn-warning mr-5 mt-3" >ИО</a>
</div>
<div style="text-align: center;">
<a href="{% url 'vt' %}" class="btn btn-warning mr-5 mt-3" >Вискозиметры</a>
</div>
<div style="text-align: center;">
<a href="{% url 'equipmentreg' %}" class="btn btn-info mr-5 mt-3" >Добавить новое ЛО</a>
</div>
<div style="text-align: center;">
<a href="{% url 'meteo' %}" class="btn btn-info mr-5 mt-3" >Условия окружающей среды</a>
</div>
<div style="text-align: center;">
<a href="{% url 'metro' %}" class="btn btn-info mr-5 mt-3" >Метрологическое обеспечение ЛО</a>
</div>
    <div style="text-align: center;">
<a href="{% url 'reports' %}" class="btn btn-info mr-5 mt-3" >Отчёты и планы</a>
</div>
<br><br>
<div style="text-align: center;">
<img src="{% static 'main/img/10.jpg' %}"
alt="Изображение на главной странице"></div>
{% endblock %}