{% extends 'main/base.html' %}
{% load static %}
{% block title %}
    {% for i in note %}
        {{ i.name}}
    {% endfor %}
{% endblock %}


{% block content %}
    {% for i in note %}
    <div style="text-align: center;"><h4>{{ i.name}}</h4></div>
    <br><br>
         <div style="text-align: center;"><a href="attestation/" >
            <button class="btn btn-warning">Смотреть записи</button>
        </a>
        <a href="registration/" class="ml-5">
            <button class="btn btn-warning">  Внести запись  </button>
        </a></div>
    <br><br>
    {% endfor %}

{% endblock %}
