{% extends 'main/base.html' %}
{% load static %}
{% block title %}
    {% for i in note %}
        {{ i.name}}
    {% endfor %}
{% endblock %}


{% block content %}
    {% for i in note %}
    <div style="text-align: center;"><h4>{{ i.name}}</h4></div>
    <br>
         <div style="text-align: center;">
        <a href="attestation/" class="btn btn-warning mt-3 mr-5">Смотреть записи</a>
        <a href="registration/" class="btn btn-warning mt-3">Внести запись</a>
        </div>
    <br>
    {% endfor %}

{% endblock %}
