{% extends 'main/base.html' %}
{% load static %}
{% block title %}
    Лабораторные журналы
{% endblock %}


{% block content %}
    <div style="text-align: center;"><h3>Лабораторные журналы</h3></div>
    <br><br>
         <div style="text-align: center;"><a href="{% url 'prod' %}" >
            <button class="btn btn-warning mr-5">Журналы приготовления</button>
        </a>
        <a href="{% url 'att' %}" class="ml-5">
            <button class="btn btn-warning">  Журналы   аттестации  </button>
        </a></div>
    <br><br>
    <div style="text-align: center;">
        <img src="{% static 'main/img/2.jpg' %}"
             alt="Изображение на главной странице"></div>

{% endblock %}