{% extends 'main/base.html' %}
{% load crispy_forms_filters %}
{% load crispy_forms_tags %}

{% block title %}
Внести запись
{% endblock %}


{% block content %}
    <a href="/attestationJ/kinematicviscosity/" class="btn btn-info mt-3 mr-3">перейти в журнал</a>
    <a href="{% url 'konstv' %}" class="btn btn-info mt-3 mr-3" target="blank">константы вискозиметров</a>
    <a href="#"
       class="btn btn-info mt-3 mr-3" target="blank">здесь будет список АЗ</a>
<form method="post" class="form-register">
    {% csrf_token %}
     {% crispy form %}
     </form>
{% endblock %}