{% extends 'main/superbase.html' %}

{% block title %}
Этикетки на растворы
{% endblock %}

{#кнопки слева странички#}
{% block content %}


{#уникальная таблица#}
{#полустандартный верх таблицы#}
{#<div class="col-md-8 mt-1" style="text-align: center;" >#}
<table class="nor">
	<tbody>
    <tr>
            <td colspan="9" class="nor" ></td>
        </tr>
		<tr>
			<td colspan="4" class="nor" >ООО "Петроаналитика"</td>
            <td class="nor"></td>
			<td class="nor">Титр 3</td>
			<td class="nor"></td>
			<td class="nor">титр до</td>
			<td class="nor"></td>
		</tr>
		<tr>
			<td colspan="4" class="nor"><b>Ртуть (II) азотнокислая п. {{titrantlot}}</b></td>
            <td></td>
	        <td class="nor">Титр 4</td>
			<td class="nor"></td>
			<td class="nor">титр до</td>
			<td class="nor"></td>
		</tr>
		<tr>
			<td colspan="2" class="nor">Метод испытаний</td>
			<td colspan="2" class="nor">ГОСТ 21534-76(А)</td>
            <td></td>
			<td class="nor">Титр 5</td>
			<td class="nor"></td>
			<td class="nor">титр до</td>
			<td class="nor"></td>
		</tr>
		<tr>
			<td colspan="1" class="nor">изг.</td>
			<td colspan="1" class="nor">{{titrantbirth|date:'d.m.Y'}}</td>
			<td colspan="1" class="nor">до</td>
			<td colspan="1" class="nor">н/о</td>
            <td></td>
			<td colspan="1" class="nor">Титр 6</td>
			<td colspan="1" class="nor"></td>
			<td colspan="1" class="nor">титр до</td>
			<td colspan="1" class="nor"></td>
		</tr>

		<tr>
			<td colspan="2" class="nor">Приготовил</td>
			<td colspan="2" class="nor">{{titrantmother}}</td>
            <td class="nor"></td>
			<td class="nor">Титр 7</td>
			<td class="nor"></td>
			<td class="nor">титр до</td>
			<td class="nor"></td>
		</tr>
		<tr>
			<td class="nor">Титр 1</td>
			<td class="nor"></td>
			<td class="nor">титр до</td>
			<td class="nor"></td>
            <td></td>
			<td class="nor">Титр 8</td>
			<td class="nor"></td>
			<td class="nor">титр до</td>
			<td class="nor"></td>
		</tr>
        <tr>
			<td class="nor">Титр 2</td>
			<td class="nor"></td>
			<td class="nor">титр до</td>
			<td class="nor"></td>
            <td></td>
			<td class="nor">Титр 9</td>
			<td class="nor"></td>
			<td class="nor">титр до</td>
			<td class="nor"></td>
		</tr>
        <tr>
            <td colspan="9" class="nor" ></td>
        </tr>
        		<tr>
			<td colspan="4" class="nor" >ООО "Петроаналитика"</td>
                    <td></td>
			<td colspan="4" class="nor" >ООО "Петроаналитика"</td>
		</tr>
		<tr>
			<td colspan="4" class="nor"><b>1,5-дифенилкарбазид</b></td>
            <td></td>
			<td colspan="4" class="nor"><b>1,5-дифенилкарбазид</b></td>
		</tr>
		<tr>
			<td colspan="4" class="nor">1% спиртовой раствор</td>
            <td></td>
			<td colspan="4" class="nor">1% спиртовой раствор</td>
		</tr>
		<tr>
			<td colspan="2" class="nor">Метод испытаний</td>
			<td colspan="2" class="nor">ГОСТ  21534-76 (метод А)</td>
            <td></td>
			<td colspan="2" class="nor">Метод испытаний</td>
			<td colspan="2" class="nor">ГОСТ  21534-76 (метод А)</td>
		</tr>
		<tr>
			<td class="nor">изг.</td>
			<td class="nor">{{indicatorbirth|date:'d.m.Y'}}</td>
			<td class="nor">Годен до</td>
			<td class="nor">{{indicatordead|date:'d.m.Y'}}</td>
            <td></td>
			<td class="nor">изг.</td>
			<td class="nor">{{indicatorbirth|date:'d.m.Y'}}</td>

			<td class="nor">Годен до</td>
			<td class="nor">{{indicatordead|date:'d.m.Y'}}</td>
		</tr>
        <tr>
        <td colspan="2" class="nor">Приготовил</td>
			<td colspan="2" class="nor">{{indicatormother}}</td>
            <td></td>
        <td colspan="2" class="nor">Приготовил</td>
			<td colspan="2" class="nor">{{indicatormother}}</td>
        </tr>

        <tr>
            <td colspan="9" class="nor" ></td>
        </tr>
     <tr>
            <td colspan="9" class="nor" ></td>
        </tr>
     <tr>
            <td colspan="9" class="nor" ></td>
        </tr>
		<tr>
			<td colspan="4" class="nor" >ООО "Петроаналитика"</td>
            <td></td>
			<td colspan="4" class="nor" >ООО "Петроаналитика"</td>
		</tr>
		<tr>
			<td colspan="4" class="nor"><b>Кислота азотная HNO3</b></td>
            <td></td>
			<td colspan="4" class="nor"><b>Кислота азотная HNO3</b></td>
		</tr>
		<tr>
			<td colspan="4" class="nor">0,2 моль/дм3</td>
            <td></td>
			<td colspan="4" class="nor">0,2 моль/дм3</td>
		</tr>
		<tr>
			<td colspan="2" class="nor">Метод испытаний</td>
			<td colspan="2" class="nor">ГОСТ  21534-76 (метод А)</td>
            <td></td>
			<td colspan="2" class="nor">Метод испытаний</td>
			<td colspan="2" class="nor">ГОСТ  21534-76 (метод А)</td>
		</tr>
		<tr>
			<td class="nor">изг.</td>
			<td class="nor"></td>
			<td class="nor">Годен до</td>
			<td class="nor"></td>
            <td></td>
			<td class="nor">изг.</td>
			<td class="nor"></td>
			<td class="nor">Годен до</td>
			<td class="nor"></td>
		</tr>

		<tr>
			<td colspan="2" class="nor">Приготовил</td>
			<td colspan="2" class="nor">{{ind.performer}}</td>
            <td></td>
            <td colspan="2" class="nor">Приготовил</td>
			<td colspan="2" class="nor">{{ind.performer}}</td>
		</tr>
	</tbody>
</table>

{#</div>#}
{#конец  таблицы#}

    &nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp
                &nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp
                &nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp
    &nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp
                &nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp
                &nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp
    &nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp
                &nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp
                &nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp
    &nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp
                &nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp
                &nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp
    &nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp
{#кнопка печать #}
    <div class="noprint">
    <a href="javascript:(print());" class="btn btn-warning mt-1">Распечатать</a>
    </div>
{% endblock %}
