{% extends 'main/superbase.html' %}
{% load crispy_forms_filters %}
{% load crispy_forms_tags %}

{#название страницы#}
{#стандартная#}
{% block title %}
{% for item in journal %}{{ item.name }}{% endfor %}
{% endblock %}
{#конец названия страницы#}

{% block content %}

{#заголовок с ссылкой#}
{#стандартная#}
<div class="row">
<div class="col-md-9 mt-2" >
<div style="text-align: center;"><h4><a href="/attestationJ/{{ URL }}/"> {% for item in journal %}{{ item.name }}{% endfor %}</a></h4></div>
<br>
{#конец заголовка со ссылкой#}

{#форма для поиска по ГСО#}
{#стандартная#}
    <form action="/attestationJ/{{ URL }}/searchresult/" method="GET">
        {% csrf_token %}
        {% crispy formSM %}
    </form>
{#конец формы для поиска по ГСО#}

{#основная таблица#}
{# уникальная #}
<table class="table table-bordered">
    <thead>
        <tr>
            <th>  Дата </th>

            <th width=30px>  ГСО </th>
            <th> <div style="text-align: center;"> п. </div></th>
            <th> <div style="text-align: center;"> X1  </div></th>
            <th> <div style="text-align: center;"> X2  </div></th>
            <th> <div style="text-align: center;"> Xсред  </div></th>
            <th> <div style="text-align: center;"> См.  </div></th>
        </tr>
    </thead>
    <tbody>
    {% for obj in objects %}
        {% if obj.clorinesalts.certifiedValue %}

    <tr>
        <td align="center"><b>{{ obj.date|date:"d.m.Y" }}</b></td>
       <td align="center">
            <b> {{ obj.name }}<br>({{ obj.namedop }})</b></td>
        <td align="center"> <b>{{ obj.lot }}</b></td>
        <td align="center"><b>{{ obj.x1 }}</b> </td>
        <td align="center"><b>{{ obj.x2 }}</b> </td>
        <td align="center"><b>
            {% if obj.resultMeas == 'Удовлетворительно' %}
            {{ obj.x_avg|default_if_none:" " }}
            {% endif %}</b>
        </td>
        <td align="center"><a href="/attestationJ/{{ URL }}/attestation/{{ obj.id }}/"  class="btn btn-outline-warning mt-3">см.</a></td>
    </tr>
            {% elif not obj.clorinesalts.certifiedValue %}
    <tr>
        <td align="center">{{ obj.date|date:"d.m.Y" }}</td>
        <td align="center"> {{ obj.name }}<br>({{ obj.namedop }})</td>
        <td align="center"> {{ obj.lot }}</td>
        <td align="center">{{ obj.x1 }} </td>
        <td align="center">{{ obj.x2 }} </td>
        <td align="center">
            {% if obj.resultMeas == 'Удовлетворительно' %}
            {{ obj.x_avg|default_if_none:" " }}
            {% endif %}
        </td>
        <td><a href="/attestationJ/{{ URL }}/attestation/{{ obj.id }}/"  class="btn btn-outline-warning mt-3">см.</a></td>
    </tr>
        {% endif %}
    {% endfor %}
    </tbody>
</table>
{#конец основной таблицы#}

{#пагинация#}
{# стандартная #}
{% if is_paginated %}
    {% if page_obj.has_previous %}
       <a href="?page=1" class="btn btn-outline-primary">Начало</a>
       <a href="?page={{ page_obj.previous_page_number }}" class="btn btn-outline-primary">Предыдущая</a>
  {% endif %}
    {% if page_obj.has_next %}
       <a href="?page={{ page_obj.next_page_number }}" class="btn btn-outline-primary">Следующая</a>
       <a href="?page={{ page_obj.paginator.num_pages }}" class="btn btn-outline-primary">Последняя</a>
  {% endif %}
  {% endif %}
{#конец пагинации#}
</div>

{#фильтры#}
{# уникальные, менять url #}
<div class="col-md-3 mt-5" ><div style="text-align: center;"><h4> Фильтр записей  </h4></div>
<div style="text-align: center;"><a href="/attestationJ/{{ URL }}/attestation/" class="btn  btn-warning  mt-3"  >&nbspВсе&nbsp</a></div>
<div style="text-align: center;"> <a href="{% url 'clorinesaltsfilter' pk=2 %}" class="btn  btn-primary  mt-3" >Сегодня</a></div>
<div style="text-align: center;"> <a href="{% url 'clorinesaltsfilter' pk=5 %}" class="btn  btn-primary  mt-3" >&nbsp&nbsp&nbspМои&nbsp&nbsp&nbsp</a></div>

{# конец фильров #}


{#форма для поиска по датам записей и вывод ошибки формата даты#}
{#стандартная#}
<br>
    <div >
<div style="text-align: center;" class="TransactionAmount Badresult"> <b> {{ Date }}</b> </div>
<div style="text-align: center;" class="TransactionAmount Badresult"> <b> {{ format }}</b> </div>
<br>
<div style="text-align: center;">
    <form action="/attestationJ/{{ URL }}/datesearchresult/" method="GET">
        {% csrf_token %}
        {% crispy formdate %}
    </form>
</div>
{#конец формы для поиска по датам записей#}

</div>
</div>
</div>

{% endblock %}
{#конец блока {% block content %}"""#}


