{% extends 'main/superbase.html' %}

{% block title %}
{{ NAME }}
{% endblock %}

{#кнопки слева странички#}
{% block content %}
<div class="row">
<div class="col-md-2">
    <a href="/attestationJ/{{ URL }}/registration/" class="btn btn-warning mt-3 mr-5">&nbsp&nbspвнести&nbsp&nbsp&nbsp ещё </a>
    <a href='/attestationJ/{{ URL }}/' class="btn btn-warning mt-3">В  журнал</a>
    <a href='/attestationJ/{{ URL }}/attestation/' class="btn btn-warning mt-3">Все записи</a>
</div>

{#уникальная таблица#}
{#полустандартный верх таблицы#}
<div class="col-md-4 mt-1" >
    <table class="table table-bordered background-color">
	<tbody>
		<tr>
			<td colspan="6">Атт.-ХС-ГОСТ 21534(А)-{{ note.date|date:"Y"}}&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Стр.&nbsp;&nbsp;&nbsp;&nbsp;</td>
		</tr>
		<tr>
			<td colspan="6">Определение содержания хлористых солей в нефтепродуктах по {{ note.ndocument }}</td>
		</tr>
		<tr>
			<th>Дата</th>
			<th>Наименование</th>
			<th>Партия</th>
			<th>Диапазон содержания хлористых солей, мг/л</th>
			<th>Расчётное содержание хлористых солей, мг/л</th>
			<th>Очерёдность отбора пробы</th>
		</tr>
		<tr>
			<td>{{note.date|date:"d.m.Y"}}</td>
			<td>{{ note.name}}</td>
			<td>{{ note.lot}}</td>
			<td>{{ note.constit }}</td>
			<td>{{ note.projectconc}}</td>
			<td>{{ note.que}}</td>
		</tr>
		<tr>
			<th colspan="2">Партия раствора нитрата ртути</th>
			<th colspan="2">Титр раствора нитрата ртути, мг/мл</th>
			<th colspan="2">Титр раствора нитрата ртути годен до</th>
		</tr>
		<tr>
			<td colspan="2">{{ note.lotHg}}</td>
			<td colspan="2">{{ note.titerHg}}</td>
			<td colspan="2">{{ note.titerHgdead}}</td>
		</tr>
		<tr>
			<th>ДФК (индикатор) годен до</th>
			<th>Растворитель</th>
			<th>Объём аликвоты пробы, мл</th>
			<th>Объём растворителя</th>
			<th> Поведение пробы при экстракции</th>
			<th>Объём холостой пробы, мл</th>
		</tr>
		<tr>
			<td>{{ note.dfkdead}}</td>
			<td>{{ note.solvent}}</td>
			<td> {{ note.aliquotvolume}}</td>
			<td>{{ note.solventvolume}}</td>
			<td> {{ note.behaviour}}</td>
			<td>{{ note.backvolume}}</td>
		</tr>
		<tr>
			<th colspan="6">Титрование экстрактов</th>
		</tr>
		<tr>
			<th colspan="3">Воронка № 1</th>
			<th colspan="3">Воронка № 2</th>
		</tr>
		<tr>
			<th></th>
			<th>V(Hg(NO3)2), мл</th>
			<th>A</th>
			<th></th>
			<th>V(Hg(NO3)2), мл</th>
			<th>A</th>
		</tr>
		<tr>
			<th>11</th>
			<td></td>
			<td></td>
			<th>21</th>
			<td></td>
			<td></td>
		</tr>
		<tr>
			<th>12</th>
			<td></td>
			<td></td>
			<th>22</th>
			<td></td>
			<td></td>
		</tr>
		<tr>
			<th>13</th>
			<td></td>
			<td></td>
			<th>23</th>
			<td></td>
			<td></td>
		</tr>
		<tr>
			<th>14</th>
			<td></td>
			<td></td>
			<th>24</th>
			<td></td>
			<td></td>
		</tr>
		<tr>
			<th>15</th>
			<td></td>
			<td></td>
			<th>25</th>
			<td></td>
			<td></td>
		</tr>
		<tr>
			<th>X1, мг/л</th>
			<td colspan="2"></td>
			<th>X2, мг/л</th>
			<td colspan="2"></td>
		</tr>
		<tr>
			<th colspan="3">Сходимость по ГОСТ, мг/л</th>
			<th colspan="3">Сходимость фактическая, мг/л</th>
		</tr>
		<tr>
			<td colspan="3">{{ note.ndocconvergence}}</td>
			<td colspan="3">{{ note.factconvergence}}</td>
		</tr>
		<tr>
			<td colspan="6">Результат измерений: {{ note.resultMeas}} {{ note.cause}}</td>
		</tr>
		<tr>
			<td colspan="3">Исполнитель: {{ note.performer}}</td>
			<td colspan="3">Примечания:</td>
		</tr>
		<tr>
			<th colspan="6">Расчёт аттестованного значения</th>
		</tr>
		<tr>
			<td>Исполнитель1: {{ note.performer}}</td>
			<td>Х1 = {{ note.x1}} мг/л</td>
			<td>Х2 = {{ note.x2}} мг/л</td>
			<td>Исполнитель2: {{ note.performer2}}  (дата измерений: {{note.date2|date:"d.m.Y"}}</td>
			<td>Х3 = {{ note.x3}} мг/л</td>
			<td>Х4 = {{ note.x4}} мг/л</td>
		</tr>
		<tr>
			<th colspan="4">Диапазон</th>
			<th rowspan="2">Воспроизводимость R, мг/л</th>
			<th rowspan="2">Критическая разность CD, мг/л</th>
		</tr>
		<tr>
			<th colspan="2">По описанию типа</th>
			<th colspan="2">По прайсу (или по заказу)</th>
		</tr>
		<tr>
			<td colspan="2">{{ note.ndoccd}}</td>
			<td colspan="2">{{ note.ndoccd}}</td>
			<td>{{ note.ndocreproducibility}}</td>
			<td>{{ note.ndoccd}}</td>
		</tr>
		<tr>
			<th>Xсреднее  из измеренных (Из X1-X4)</th>
			<th colspan="4">Расчёт вхождения результатов в диапазон: Xсреднее ± CD </th>
			<th>Из корректных результатов : Xсреднее  из (Хmax, Xmin)</th>
		</tr>
		<tr>
			<td>{{ note.ndoccd}}</td>
			<td colspan="4">{{ note.ndoccd}}</td>
			<td>{{ note.ndoccd}}</td>
		</tr>
		<tr>
			<th>Относительная погрешность (по описанию типа), %</th>
			<th>Абсолютная погрешность, мг/л</th>
			<th>Предыдущее АЗ</th>
			<th>Разница с предыдущим АЗ, %</th>
			<th>Разница с предыдущим АЗ входит в диапазон CD</th>
			<th>Комментарии</th>
		</tr>
		<tr>
			<td>{{ note.ndoccd}}</td>
			<td>{{ note.ndoccd}}</td>
			<td></td>
			<td></td>
			<td></td>
			<td></td>
		</tr>
		<tr>
			<td colspan="6"></td>
		</tr>
		<tr>
			<th colspan="6">Фиксация результатов</th>
		</tr>
		<tr>
			<th>Аттестованное значение содержания хлористых солей, мг/л</th>
			<th>Дата присвоения АЗ, мг/л</th>
			<th>Отправлено</th>
			<th>Внесено</th>
			<th>Исполнитель расчёта АЗ</th>
			<th>комментарии</th>
		</tr>
		<tr>
			<td>{{ note.ndoccd}}</td>
			<td>{{ note|date:"d.m.Y"}}</td>
			<td></td>
			<td>{{ note.fixation}}</td>
			<td>{{ note.performer3}}</td>
			<td></td>
		</tr>
	</tbody>
</table>
</div>
{#конец  таблицы#}
</div>
    &nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp
                &nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp
                &nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp
    &nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp
                &nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp
                &nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp
    &nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp
                &nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp
                &nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp
    &nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp
                &nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp
                &nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp
    &nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp
{#кнопка печать #}
    <a href="javascript:(print());" class="btn btn-warning mt-1">Распечатать</a>
{% endblock %}
