{% extends 'main/superbase.html' %}

{% block title %}
{{ NAME }}
{% endblock %}

{#кнопки слева странички#}
{% block content %}


{#уникальная таблица#}
{#полустандартный верх таблицы#}
<div class="col-md-8 mt-1" >
<div style="text-align: center;">
    <div class="noprint">
<a href="/attestationJ/{{ URL }}/registration/" class="btn btn-warning mt-3 mr-2">Внести ещё </a>
    <a href='/attestationJ/{{ URL }}/' class="btn btn-warning mt-3 mr-2">В  журнал</a>
    <a href='/attestationJ/{{ URL }}/attestation/' class="btn btn-warning mt-3 mr-2">Все записи</a></div>
</div>
    <br><br>
    <table class="table table-bordered background-color">
	<tbody>
		<tr>
			<td colspan="6">ХС-ГОСТ 21534(А)-{{ note.date|date:"Y"}}&nbsp;&nbsp;  &nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp
                &nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp
                 &nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp
                &nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp
                 &nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp
                &nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp
                &nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp
                &nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp
                &nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbspСтр.&nbsp;&nbsp;&nbsp;&nbsp;</td>
		</tr>
		<tr>
			<th colspan="6">Определение содержания хлористых солей в нефтепродуктах по {{ note.ndocument }}</th>
		</tr>
		<tr>
			<th>

                Дата</th>
			<th>Наименование</th>
			<th>&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbspПартия&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp</th>
		</tr>
				<tr>
			<th>№ флакона</th>
			<th>Номер серии измерений</th>
			<th>Цель измерений</th>
		</tr>
		<tr>
			<td>{{note.date|date:"d.m.Y"}}</td>
			<td> {% if note.name != 'другое' %}
                {{ note.name}}({{ note.index}})
                {% elif note.name == 'другое' %}
                {{ note.index}}
                {% endif %}

            </td>
			<td>{{ note.lot}}</td>
			<td>{{ note.numberexample}}</td>
			<td>{{ note.seria}}</td>
			<td>{{ note.aim}}</td>
		</tr>
		<tr>
			
		<tr>
			<th>X1, мг/л</th>
			<td colspan="2">{{ note.x1|default_if_none:" "}}</td>
			<th>X2, мг/л</th>
			<td colspan="2">{{ note.x2|default_if_none:" "}}</td>
						<th>Xср, мг/л</th>
			<td colspan="2">{{ note.x_avg|default_if_none:" "}}</td>
		</tr>
		<tr>
			<th colspan="3">Сходимость по ГОСТ, мг/л</th>
			<th colspan="3">Разница между измерениями, мг/л</th>
		</tr>
		<tr>
			<td colspan="3">r, мг/л </td>
			<td colspan="3">R, мг/л</td>
			<td colspan="3">CD, мг/л</td>
		</tr>
				<tr>
			<td colspan="3">{{ note.r}} </td>
			<td colspan="3">{{ note.R}}</td>
			<td colspan="3">{{ note.CD}}</td>
		</tr>
				</tr>
				<tr>
			<td colspan="3">{{ note.equipment1}} </td>

		</tr>
		<tr>
			<td colspan="6">
                {% if note.resultMeas == 'Неудовлетворительно' %}
                <div class="TransactionAmount Badresult">
                {% elif note.resultMeas == '---' %}
                <div class="TransactionAmount Badresult">
                {% else %}
                <div class="TransactionAmount Goodresult">
                {% endif %}
                Результат измерений: <b>{{ note.resultMeas|default_if_none:" " }} </b> {{ note.cause|default_if_none:" " }}
                &nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp
                &nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp
                &nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp
                 </div>
            </td>
		</tr>
            <td colspan="3">Исполнитель: {{ note.performer}}</td>
			<td colspan="2">
                 
                <a href="/attestationJ/{{ URL }}/clorinesaltsstrcv/{{ note.id }}/"  class="btn btn-outline-warning mt-3">
                    Поменять номер серии
                </a>
  
            </td>
			<td colspan="1">{% if not counter %}
                <a href="/attestationJ/{{ URL }}/attestation/{{ note.id }}/comments/"  class="btn btn-outline-warning mt-3">комментировать</a>
                {% elif counter %}
                <a href="/attestationJ/{{ URL }}/attestation/{{ note.id }}/comments/"  class="btn btn-outline-warning mt-3">смотреть комментарии</a>
                {% endif %}</td>
		</tr>
			<tr>
				{{ note.maincomment }}
			</tr>
	</tbody>
</table>
</div>
{#конец  таблицы#}

    &nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp
                &nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp
                &nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp
    &nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp
                &nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp
                &nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp
    &nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp
                &nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp
                &nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp
    &nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp
                &nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp
                &nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp
    &nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp
{#кнопка печать #}
    <div class="noprint">
    <a href="javascript:(print());" class="btn btn-warning mt-1">Распечатать</a>
    <a href="{% url 'export_Clorinesalts_xls' note.pk %}"  class="btn btn-warning ml-5 mt-1">Сохранить в EXEL</a>
    </div>
{% endblock %}
