{% extends 'main/base.html' %}
{% block title %}
    из ГОСТ 21534
{% endblock %}

{% block content %}
    <div style="text-align: center;"><h3>Выписка из ГОСТ 21534*</h3></div>
<br>
 <br>
     <div style="text-align: center;"><h5>Объёмы аликвоты и растворителя</h5></div><br>

<table class="table table-bordered">

<thead>

    <tr>
      <th>  С(ХС) мг/л </th>
      <th>  Аликвота, мл </th>
      <th>  Объём ксилола, мл</th>

    </tr>
  </thead>

  <tbody>
   <tr>
<td>  до 50 </td>
<td> 100 </td>
<td> 100 </td>
   </tr>
        <tr>
<td>  50 -100 </td>
<td>  50 </td>
<td>  80 </td>
   </tr>
        <tr>
<td>  100 - 200 </td>
<td>  25 </td>
<td>  40 </td>
   </tr>
        <tr>
<td>  более 200 </td>
<td> 10 </td>
<td> 20 </td>
   </tr>
        <tr>
<td>  500 - 2000 </td>
<td  colspan="4">  Вытяжку разбавляют до 500 мл и отбирают на титрование 100 мл, А = 5 </td>
   </tr>
  </tbody>
</table>
    <br>
     <div style="text-align: center;"><h5>Приготовление растворов</h5></div>
<p><b>NaCl 0,01 М</b> 0,57 - 0,09 г довести водой до 1 литра. Срок годности не ограничен.</p>

<p><b>Hg(NO3)2   0,005 М (титрант)</b> - 1,67  ±0,01 г растворить в 5 мл воды, добавить концентрированную HNO3 пока не исчезнет муть,
довести водой до литра. Установка титра по 10 мл 0,01 М NaCl (на титрование уходит около 10 мл).
Раствор годен к употреблению через 2 суток.
Хранение в темном месте, стандартизация каждые 2 недели. Срок годности не ограничен.
Т = m(NaCl)/(Vт - Vх) = 5,844/(Vт - Vх)</p>

<p><b>Дифенилкарбазид 1% (индикатор)</b>- 1 ± 0,01 г растворить в 100 мл этилового спирта на водяной бане.
    Раствор годен к употреблению через 1 сутки.  Хранение в темном месте 2 месяца.</p>

<p><b>HNO3 0,2 М</b>- 12 мл концентрированной азотной кислоты (ρ = 1,425 г/см3) довести до 1 литра водой.
    Срок годности не ограничен.</p>
    <div style="text-align: center;"><h5>Ход анализа</h5></div>
    <p><b>Холостая проба:</b> 150 мл воды  </p>
    <p><b>Экстракция:</b> 15 минут
        мешать со 100 мл гор. воды, промыть раствор 35 мл гор. воды, промыть фильтр 15 мл гор воды.
        Не менее 3 вытяжки. </p>
    <p><b>Титрование:</b> 2 мл HNO3 0,2 М и 10 кап. Дифенилкарбазида. Перед титрованием пробы остудить. </p>

    <i>*Материал предоставлен только для ознакомления. Для проведения измерений необходимо использовать контролируемую копию ГОСТ.</i>

{% endblock %}
