body {
  background: rgba(123, 245, 244, 0.47);
}

/*aside {*/
/*  background: #0c5460;*/
/*}*/

.alert-light {
  border-color: #bfbfbf;
}

.form-register {
  padding: 20px;
  background: #fafafa;
  border: 1px solid silver;
  margin-top: 20px;
}

.form-register .helptext {color: #000000
}

.form-register ul.errorlist {
    color: #ca5858;
    font-weight: bold;
}

footer {
  width: 70%;
  margin-left: 15%;
}

.form-register.auth input {
    display: block;
    width: 96%;
    margin-top: 5px;
    border: 1px solid silver;
    border-radius: 5px;
    padding: 2%;

}

.table-bordered td, .table-bordered th{
    border-color: #4d74bd !important;
    background-color: rgb(245, 245, 246) !important;
}

